﻿@{
    var db=Database.Open("SmsLulu");
    var query= "SELECT * From phonebook";
    var sent="SELECT * From outgoing";
    var group="SELECT * From groups";
    var groups= db.Query(group);
    var outgoing= db.Query(sent);
    var content= db.Query(query);


}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
         <meta name="viewport" content="width=device-width" />
        <title>@Page.Title - SMS Lulu Technologies</title>
        
        
       
       <!--<script src="~/underscore-1.5.2.min.js"></script>
        <script src="~/jquery.scrollTableBody-1.0.0.js"></script>

        --> 
      
         <script type="text/javascript" src="~/jq12.js"></script>
        <script src="~/boot/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="~/jquery.dataTables.js"></script>
     <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
         
       
        
       
       
        
       
        <link href="~/boot/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
        
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="~/mydesign.css"  rel="stylesheet"  type="text/css">

        <!-- uncomment the next line here and in xlsxworker.js for encoding support -->
<!--<script src="dist/cpexcel.js"></script>-->
<script src="shim.js"></script>
<script src="jszip.js"></script>
<script src="xlsx.js"></script>
<!-- uncomment the next line here and in xlsxworker.js for ODS support -->
<script src="dist/ods.js"></script>
        
        
<script>


    $(document).ready(function () {
      
        $('.cbtn').click(function () {
            window.location = "Default.cshtml";
        });
        $('.outgoing').click(function () {
         //   window.location = "OutgoingRefresh.cshtml";
        });
    });
</script>

       
       
      <style type="text/css">
   
    .send{
        color: #fff;
        border-radius: 0%;
        background-color: #0041C2;
    }
    .send:hover{
         color: #000;
        border-radius: 0%;
        background-color: #C200C2;
    }
           .edit{
                         color: #0094ff;
                         text-decoration: underline;
                         cursor: pointer;
                         background-color: #fff;
                     }
                     .edit:hover{
                         background-color: #fff;
                     }
           
</style>
        

    </head>
    <body data-spy="scroll" data-target="#myScrollspy" data-offset="15" class="body" style="background-color:#838B8B	">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 header" style="background-color:#1569C7"  >
        <h4 class="header" style="text-align: left ;color: #fff; background-color: #1569C7"> <b>SMS Lulu</b> <b>T</b>echnologies</h4>
                </div>



            
        
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 menu" style="background-color: #0041C2" >
                <div class="btn-group">
                      <button class="btn cbtn"  style=" background-color: #1569C7;border: 1px #0041C2 solid ;margin-bottom: 5px;color: #fff" >Home</button>
                      <button class="btn cbtn" style=" background-color: #1569C7;border: 1px #0041C2 solid ; color: #fff" >About</button>
                    </div>
       
            </div>
        
        
        
        
        </div>
        @RenderBody()

        
        <footer style="background-color:  #838B8d" >
           <div class="row">
               
            
              
            <br>
               <div class="col-md-2"></div>
               <div class="col-md-8" style="background-color:#0041C2 ;color: #fff; text-align: center">
                    <p>&copy; @DateTime.Now.Year - SMS Lulu technologies Web application</p>
                </div>
            </div>
        </footer>
    </body>
</html>