﻿<script>
    $(document).ready(function () {
        $('.refresh').click(function () {
            window.location = "OutgoingRefresh.cshtml";
        });
        $('.import_cont').click(function () {
            $('#import_show').modal("show");
        });

    });
</script>

<style>
a:link    {color:#fff; background-color: #0041C2; text-decoration:none;border: 1px #1569C7 solid}

a:hover   {color:#000; background-color: #4b6c9e; text-decoration:underline}
a:active  {color:#000; background-color:transparent; text-decoration:underline}
</style>

<script>
    $(document).ready(function ()
    {
        $('.hidem').click(function ()
        {
            // $('#sidem').toggle("slow");

            $("#sidem").removeClass("visible-sm visible-xs");
            // $('#sidem').toggle("slow");
           // document.getElementById("myToggle").value = "";

           // alert(document.getElementById("myToggle").value);

        });
    })
    function toggleMune()
    {
        var el = document.getElementById("myToggle")
        if (el.offsetParent === null)
        {

        } else
        {
            //alert("working");
            var check = document.getElementById("myToggle").value;
            if (check == "")
            {
                // $('#sidem').hasClass('visible-sm')== false
               //  alert(document.getElementById("myToggle").value);
                $("#sidem").addClass("visible-sm visible-xs");
                // $('#sidem').toggle("slow");
                document.getElementById("myToggle").value = "testing";
            } else
            {
               //  alert(document.getElementById("myToggle").value);
                //  $('#sidem').hide();
                $("#sidem").removeClass("visible-sm visible-xs");
                document.getElementById("myToggle").value = "";
            }

            // menu.className += 'visible-sm';

        }
    }
</script>

 <div class="visible-xs visible-sm ">
      <button data-parent="#accordion"  id="myToggle" onclick="toggleMune()" value="" class="btn btn-primary btn-lg btn-block "  type="button" data-toggle="collapse" data-target="#sidem" aria-expanded="false" aria-controls="collapse1">
  Menu Toggle
                    </button>

        </div>

<div class="col-md-3 visible-md visible-lg   div-collapse collapse"  id="sidem">
   
       <div class="" >
    <div class="navbar tabbable tabs-left ">
      
        <div >

   <div class="nav nav-tabs">
       <div class="row" style="margin-top: 10px;padding-bottom: 10px;">
       <div class="nav ">
  <a href="#" class="list-group-item " style="background-color: #1569C7;color: #fff;border-radius: 0%">
    New SMS
  </a>
           <div class="row">
               <div class="col-xs-2"></div>
               <div class="col-xs-10">
                   <ul class="nav">
   <li> <a data-toggle="tab" href="#newsms" class="hidem" >Send Single SMS</a></li>
 <li><a data-toggle="tab" href="#groupsms"  class="hidem" >Send Multiple SMS</a></li>
       
               </ul>
               </div>
       </div>
           </div>
       
       </div>
     <div class="row" style="padding-bottom: 10px;">
       <div class="nav nav-pills">
  <a href="#" class="list-group-item " style="background-color: #1569C7;color: #fff ;border-radius: 0%">
    SMS 
  </a>
           <div class="row">
               <div class="col-xs-2"></div>
               <div class="col-xs-10">
                   <ul class="nav">
             <li> <a data-toggle="tab" href="#pending" class="refresh hidem" >Outgoing</a></li>
            <li>  <a data-toggle="tab" href="#sent" class="hidem" >Sent</a></li>
          
                       </ul>
                   </div>
       </div>
       
       </div>
       
       </div>
          
         
       <div class="row" style="padding-bottom: 10px;">
       <div class="nav ">
  <a href="#" class="list-group-item " style="background-color:#1569C7;color: #fff ;border-radius: 0%">
    Contacts
  </a>

        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-10">
                <ul class="nav">
                    <li> <a data-toggle="tab" class="import_cont" href="#" style="border: 1px #1569C7 solid" class="hidem">Import Contacts</a></li>
   <li> <a data-toggle="tab" href="#phone" style="border: 1px #1569C7 solid" class="hidem" >Phonebook</a></li>
 <li><a data-toggle="tab" href="#group" style="border: 1px #1569C7 solid" class="hidem" >Groups</a></li>
                    </ul>
            </div>
       </div>
       </div>
       </div>

    
  </div>
            </div>
                                 
</div>
           </div>

</div>
