﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>  
  
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
  
<html xmlns="http://www.w3.org/1999/xhtml">  
<head id="Head1" runat="server">    
    <title>Sms Lulu Technologies</title> 
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">   
</head>    
<body style="background-color: #808080">  
    
    <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: #0026ff" >
        <h1>SMS Lulu Technologies</h1>
                </div>
        
        </div>  
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="background-color: #fff">
    <form id="form1" runat="server">    
    <div style="color: #000;">    
        <h4>    
            Importing Contacts    
        </h4>    
        <table class="table">    
            <tr>    
                <td>    
                    Select File    
                </td>    
                <td>    
                    <asp:FileUpload ID="FileUpload1" runat="server" />    
                </td>    
                <td>    
                </td>    
                <td>    
                    <asp:Button ID="Button1" runat="server" Text="Upload" OnClick="Button1_Click" />    
                </td>    
            </tr>    
        </table>  <br /><br />  
        
    </div>    
      
    </form> 

            <br />
            <a href="Default.cshtml" style="color: #0026ff">Go back</a>
            </div>
        
        
        </div>   
</body>    
</html>    