﻿<!--Import validation-->
<div class="modal fade"  id="import_editNumber">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Error!!</h4>
      </div>
        
      <div class="modal-body">

         <div class="row alert alert-danger alert-dismissible">
         <p>A  Phone number is invalid, the correct format is 2547XXXXXXXX, which add up to 12digits</p>
         
         </div>
          </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
       
      </div>
       
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>



<!--Error in the phone number column during importing-->
<div class="modal fade"  id="import_errorNumber">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Error!!</h4>
      </div>
        
      <div class="modal-body">

         <div class="row alert alert-danger alert-dismissible">
         <p>A  Phone number is invalid, you can edit it as displayed in the table</p>
         
         </div>
          </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
       
      </div>
       
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div> 

<!--Excess Errors more than 4-->

<div class="modal fade"  id="import_errorExcessErrors">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Error!!</h4>
      </div>
        
      <div class="modal-body">

         <div class="row alert alert-danger alert-dismissible">
         <p>You must select at least one number to send an sms to</p>
         
         </div>
          </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="excesserrors">Ok</button>
       
      </div>
       
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>