﻿@using Microsoft.Web.Helpers;
@{
    var db=Database.Open("SmsLulu");
    var query= "SELECT * From phonebook";
    var content= db.Query(query);


}

<script>
    function uploadme(fileUpload) {

        //  alert("i caught you");
        $('#imported').show();
        // document.getElementById("resId").innerHTML = "hehehe";
        var file = fileUpload.files[0];
        var data = new FormData();
        data.append('fileUpload', file);
        $.ajax({
            url: "/fileUpload/",
            type: "POST",
            contentType: false,
            data: data,
            processData: false,
            cache: false,
            success: function (response) {
                alert("Successfully Imported your contacts");
                window.location = "Default.cshtml";
            }
        });
    }
    $(function () {
        $('#txtfile').click(function () {
            alert("Clicked me");
            document.getElementById("resId").innerHTML = "hehehe";
            var file = fileUpload.files[0];
            var data = new FormData();
            data.append('name', file);
            $.ajax({
                url: "/fileUpload/",
                type: "POST",
                contentType: false,
                data: data,
                processData: false,
                cache: false,
                success: function (response) {
                    alert("Hi there response" + response);

                }
            });


        });



    });


</script>
<style>

    
    .btn-file {
    position: relative;
    overflow: hidden;
    background-color: #4b6c9e;
    color: #fff;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
</style>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-9">
        <div class="row">
        
         <h4>Import Contacts</h4>
        </div>

        <div class="row">
        
            <div class="col-xs-8">
          <form  enctype="multipart/form-data" method="post">
    

       <span class="btn btn-default btn-file">
    Browse to the .csv or .txt file <input type="file" accept=".txt,.csv" name="fileUpload"  class="form-control" onchange="uploadme(this)">
</span>
          
   
        
        </form>
            </div>
        
        
        </div>
            <div class="row">
                <div class="col-xs-12">
            <h4>Contacts  Imported</h4>
                    </div>
                </div>
             <div class="row" id="imported">
       <div style="overflow-y: scroll;height: 200px ; background-color: #808080">
        
       
        
         <div class="table-responsive">
           <table class="table table-hover table-bordered" style="background-color: #fff">
                  <tr>
                         <th>Name</th> 
                          <th>Phone Contact</th>
                          <th>Email Address</th>
                      </tr>
                  @foreach(var row in content){
                      <tr>
                          <td>@row.FirstName</td>
                          <td>@row.number</td>
                          <td>@row.EmailAddress</td>
                      
                      </tr>
                  }
    </table> 
                
      </div>        
        

                        
        
        
        </div>
           </div>
    
    </div>
    </div>
 

       

   