﻿@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "SMS Lulu Technologies";
}

<script>
    $(document).ready(function () {
        $('#my_messages').DataTable();
    })
</script>

 
   
      <div class="row" >
          <div class="col-xs-2"></div>
          <div class="col-xs-8 " style="background-color: #fff">
              <div class="row">
                 
           @RenderPage("bachupnav.cshtml")
          
           <div class="col-xs-9 tab-content">
      <div id="newsms" class="tab-pane fade "> 
         
          @RenderPage("newsms.cshtml")
          @RenderPage("imageLulu.cshtml")
          
             
      </div>
      <div id="inbox" class="tab-pane fade"> 

          will display the received messages
       
      </div>        
      <div id="pending" class="outgoing tab-pane fade">
          <h4><b>Sent Messages </b></h4>
          <div class="table-responsive" >
            @RenderPage("outgoing.cshtml")
                             @RenderPage("smsModals.cshtml")




      </div>
            @RenderPage("imageLulu.cshtml")
          </div>

      <div id="phone" class="tab-pane fade">
          <br>
        @RenderPage("Sss.cshtml")
            @RenderPage("imageLulu.cshtml")
     
      </div>      
      <div id="group" class="tab-pane fade">         
            @RenderPage("Group.cshtml")
            @RenderPage("imageLulu.cshtml")
      </div>
        <div id="files" class="tab-pane fade">
        
        @RenderPage("files.cshtml")
              @RenderPage("imageLulu.cshtml")
        
        </div>
               <div id="groupsms" class="tab-pane fade in active">
        
        @RenderPage("groupSms.cshtml")
                 
                     @RenderPage("imageLulu.cshtml")
        
        </div>
                <div id="import" class="tab-pane fade">
        
              @RenderPage("files.cshtml")
                      @RenderPage("imageLulu.cshtml")
        
        </div>
                <div id="sent" class="tab-pane fade">
        
            
                      @RenderPage("imageLulu.cshtml")
        
        </div>
                @RenderPage("DeleteModal.cshtml")
               @RenderPage("ScheduleValidation.cshtml")
               @RenderPage("SmsViaImport.cshtml")
               @RenderPage("errorModals.cshtml")

    </div>
  </div>
</div>
        </div>



