﻿@{
    
      
    
}

@{
            var name="";
            var members="";
            var desc="";
            var addM=0;
            var gid= 0.00;
             var mydb= Database.Open("SmsLulu");
             var query= "SELECT * From phonebook order by GroupID ASC";
              var group="SELECT * From groups order by group_id ASC";
               var content= mydb.Query(query);
    var groups= mydb.Query(group);
            if(IsPost){
               addM= 1;
                name= Request["gname"];
                members=Request["member"];
                desc= Request["gdesc"];
                if(Request["gdesc"] ==""){
                    desc= name;
                }
                var insert ="INSERT INTO groups(GroupName,GroupDescription) values (@0,@1)";
               
                mydb.Execute(insert,name,desc);

               
            }
            if(addM == 1){
                var new_member= members.Split(',');
                
                var gmember="";
               var getId= "select group_id from groups where GroupName=@0";
              var gid_fetch= mydb.Query(getId,name);
              foreach(var id in gid_fetch){
                  gid= id.group_id;
              }
              for(var i=0; i< new_member.Length ;i++){
                  gmember= new_member[i];
                  var assign= "UPDATE phonebook SET GroupID=@0 where number=@1";
                  mydb.Execute(assign,gid,gmember);
              }
               Response.Redirect("GroupReload.cshtml");
            }

        }
<style>
  


</style>
<script >
    function all_members_select()
    {

        // alert("ma")
        var check = document.getElementById("deselect_ex").checked;
        if (check == false)
        {


            $('.groupnums').each(function ()
            {
                $(this).removeAttr('checked');
            })
        }
        else
        {
            $('.groupnums').each(function ()
            {
                $(this).click();
            })
        }

    }
    var myString = "";
    function checkGroupName()
    {
        var new_group = document.getElementById("gname").value;
        var existing_groups = "";
        $('.existingGroups').each(function ()
        {
            var values = $(this).val();
            existing_groups += values;
        });

        if (existing_groups.includes(new_group) == true)
        {
            document.getElementById("try").setAttribute("type", "button");
            $('#name_conflict').modal("show");
        }

    }
    function editGroup(id)
    {
        // alert(id);
        var mem = "";
        $('.m' + id).each(function ()
        {
            var values = $(this).val();
            mem += values;
        });
        //  alert(mem);

    }
    function deleteGroup()
    {
        //  var ngid = $(this).closest('tr').children()[2].textContent;
        $('#deleteModal').modal("show");
        //   $('#group_id').val(ngid);
    }
    var groupName = "";
    jQuery(document).ready(function ($)
    {

        $(".editGroup").click(function ()
        {
            //window.document.location = $(this).data("href");
            $("#view_group").modal("show");
            var id = $(this).closest('tr').children()[2].textContent;
            document.getElementById("gid").value = id;
            //alert(id);

            $("#txtgname").val($(this).closest('tr').children()[0].textContent);
            groupName = $(this).closest('tr').children()[0].textContent;
            // $("#txtlname").val($(this).closest('tr').children()[1].textContent);
            var list = $(this).closest('tr').children()[3].textContent;

            //  alert(list);
            // $("#myGroup").hide();
            var members = list.split("\n");
            if (members.length <= 1)
            {
                members = "";
            } else
            {

                //alert(members);
                // var table2 = document.getElementById("group_members");
                var table = $('#group_memberse').DataTable();
                for (var i = 0; i < members.length; i++)
                {
                    if (members[i].length <= 1)
                    {
                        break;
                    }

                    var split = members[i].split(",");
                    var input = '<input type="checkbox" class="groupnums" id="gmember" name="gmember" value=' + split[1] + ' checked>'
                    myString += "['" + input + "','" + split[0] + "','" + split[1] + "']" + ",";
                    table.row.add([
                    input,
                    split[0],
                    split[1]]).draw(false);
                    /* var rowCount = table2.rows.l,ength;
                    var row = table2.insertRow(rowCount);

                    var cell1 = row.insertCell(0);
                    var checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.name = "gmember";
                    checkbox.id = "gmember";
                    checkbox.value = split[1];*/
                    // checkbox.setAttribute('required', 'required');
                    //checkbox.setAttribute('checked', true);
                    // alert(members[i]);
                    // checkbox.setAttribute('class', 'groupnums');

                    // cell1.appendChild(checkbox);

                    /*  var cell2 = row.insertCell(1);
                    var label = document.createElement("label");
                    // label.setAttribute('class', 'break');
                    label.appendChild(document.createTextNode(split[0]));
                    cell2.appendChild(label);

                    var cell3 = row.insertCell(2);
                    var num = document.createElement("label");
                    //num.setAttribute('class', 'break');
                    num.appendChild(document.createTextNode(split[1]));
                    cell3.appendChild(num);




                    // document.getElementById("myGroup").html("heheh");
                    //  $("#myGroup").hide();
                    */
                }

                myString = myString.substring(0, myString.length - 1);
                /*   var dataFeed = eval("[" + myString + "]");
                //alert(dataFeed);

                $('#group_memberse').DataTable(
                {
                data: dataFeed,
                columns: [
                { title: "<input type='checkbox'  id='deselect_ex' onclick='all_members_select()'  checked>" },
                { title: "Name" },
                { title: "Mobile Number" }
                ]

                });*/

                // alert(myString);

            }
        }
        );


        $("#my_groups").DataTable({
           
           
            //"dom": '<"top"i>rt<"bottom"flp><"clear">',

        });

        $("#my_phonebook_select").DataTable(
        {
            //"scrollY":        "200px",
        "scrollCollapse": true,
        "paging":         false,
        "responsive": true,
"bAutoWidth": true
        });
       
        $("#add_toexisting").DataTable(
        {
            
//"scrollY":        "200px",
        "scrollCollapse": true,
        "paging":         false

        });
        $('#group_memberse').DataTable(
        {
        //    "scrollY":        "200px",
        "scrollCollapse": true,
        "paging":         false
        });

        $('.delGroup').click(function ()
        {
            var ngid = $(this).closest('tr').children()[2].textContent;
            $('#deleteModal').modal("show");
            $('#group_id').val(ngid);
            //  alert($('#contdel_id').val());
            //alert($('#group_id').val());
            // alert($('#delsms').val());
        });
    });
    function checkGroupNameEdit()
    {

        var new_group = document.getElementById("txtgname").value;
        var existing_groups = "";
        $('.existingGroups').each(function ()
        {
            var values = $(this).val();
            existing_groups += values;
        });

        if (existing_groups.includes(new_group) == true && new_group != groupName)
        {
            document.getElementById("editg").setAttribute("type", "button");
            $('#name_conflict').modal("show");
        } else
        {
            document.getElementById("editg").setAttribute("type", "submit");
        }

        // alert(groupName);

    }
    $(function ()
    {
        $('#stop_red').click(function ()
        {
             $('#edit_members').hide();

                     $('#edit_name').show();
                     $('#next_eg').show();
                     $('#editg').hide();
                     $('#back_eg').hide();
                      $('#existing_gm').hide();
                      $('#addTogroup').hide();
            //alert("Clicked");
            // $('#group_members').find("tr:gt(0)").remove();
            //$('#group_members tbody > tr').remove();
            var table = $('#group_memberse').DataTable();
            table
                .clear()
                .draw();

        });
        $('#try').click(function ()
        {
            var final = "";
            $('.numsyet:checked').each(function ()
            {
                var values = $(this).val();
                final += values;
            });
            //alert(final.length);
            if (final.length <= 12)
            {
                document.getElementById("try").setAttribute("type", "button");
                $('#less_members').modal("show");
            }
            var new_group = document.getElementById("gname").value;
            var existing_groups = "";
            $('.existingGroups').each(function ()
            {
                var values = $(this).val();
                existing_groups += values;
            });

            if (existing_groups.includes(new_group) == true)
            {
                document.getElementById("try").setAttribute("type", "button");
                $('#name_conflict').modal("show");
            }
            if (final.length > 12 && existing_groups.includes(new_group) == false)
            {
                document.getElementById("try").setAttribute("type", "submit");
            }
        });
        $('#editg').click(function ()
        {
            var check_id = document.getElementById("gid").value;
            var final = "";
            var final2 = "";
            $('.nums:checked').each(function ()
            {
                var values = $(this).val();
                final += values;
            });
            $('.groupnums:checked').each(function ()
            {
                var values = $(this).val();
                final2 += values;
            });
            // final = final + final2;
            //alert(final);
            // alert(fian2);
            //

            //alert(final.length);
            if ((final.length + final2.length) <= 12)
            {
                document.getElementById("editg").setAttribute("type", "button");
                $('#less_members').modal("show");
            } else
            {
                document.getElementById("editg").setAttribute("type", "submit");
            }
            if (final != "")
            {
                document.getElementById("member2").value = final;
            }
            if (final2 != "")
            {
                document.getElementById("gmember2").value = final2;
            }

            //alert(final2);
            // alert(check_id);
        });

        $('#try1').click(function ()
        {
            var selected = document.getElementById("member").value;
            // alert("Hi there" + selected);
        });

    });


</script>
<br>

<div class="row">
      <div class="col-sm-6">
        <a type="button"   data-toggle="modal" class="btn" href="#newGroup"style="background-color:#1569C7"> Add new Group</a> 
            
            </div>
<div class="col-sm-6">
<h4> <b>My Groups </b></h4>
</div>
  

</div>


<div class="row">

     
    <div class="col-md-10 table table-responsive" >

        
       
            <table id="my_groups" class="table table-striped table-bordered" data-page-length='5' width="100%">
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Members Mobile number</th>
                <th>Edit</th>
                <th style="display: none"></th>
                <th style="display: none" ></th>
                <th style="display: none" ></th>
            </tr>
        </thead>
        
        <tbody >
           
     @foreach(var row in groups){
         var memb="";
          foreach(var con in content){
                              if(@row.group_id== @con.GroupID){
                                  var cla= "m"+@row.group_id;
                                    memb += @con.FirstName+","+@con.number+"\n";
                              }
                          }
        
                      <tr >
                          <td>@row.GroupName</td>
                          <td  >@row.GroupName<br></td>
                           <td style="display: none">@row.group_id</td>
                          <td style="display: none"> @memb
                         
                              </td>
                          <td class="dropdown " >
                            
                             
                 <!--<form id="delpost"> -->
                 
              
              <a  class= "editGroup edit" id=@row.group_id onclick="editGroup(this.id)" >Edit
              </a>
                 <a class= "delGroup edit"   >Delete
              </a>
              
            
                          
                          </td>
                          <td style="display: none"></td>
                         
                          
                      </tr>
                  }

   
          
            </tbody>
    </table>
     
            
    </div>
    
    
    </div> 
<!--Edit the selected Group-->
<div class="modal fade" id="view_group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
          <div class="row">
          <div class="col-xs-10">
          
          <h4 class="modal-title">EDIT A Group</h4>
          
          </div>
         
          </div>
        
      </div>
         <form action="editGroup.cshtml" method="post">
      <div class="modal-body">
          <div class="row" id="edit_name">
              <div class="col-md-1"></div>
              <div class="col-md-3">Lulu Technologies Sms Web App allows you to be able to edit the group name, description and group members</div>
          <div class="col-xs-7" >
             
              <div class="row">
                  
                  <div class="col-xs-4">
                       <p>Group Name:</p>
                  </div>
                  <div class="col-xs-8">
        <p> <input type="text" class="form-control" id="txtgname" onblur="checkGroupNameEdit()"name="txtgname" required/></p>
                      <input type="hidden" id="gid" name="gid"/>
                      </div>
                  </div>
              <div class="row">
                  <br>
                  <div class="col-xs-4">
                       <p>Description:</p>
                  </div>
                  <div class="col-xs-8">
        <p> <input type="text" class="form-control" id="txtgdesc" name="txtgdesc" /></p>
                    
                      </div>
                  </div>


             
                      
          </div>

              
              </div>
          <script>
              function add_more_members()
              {
                  var checker = document.getElementById("add_more").checked;
                  if (checker == true)
                  {
                      $('.nums').each(function ()
                      {
                          $(this).click();
                      })
                  }else
                  {
                      
                       $('.nums').each(function ()
                      {
                          $(this).removeAttr('checked');
                      })
                  }
              }
              $(function ()
              {
                  $('#eg_members').click(function ()
                  {
                      $('#existing_gm').toggle("slow");
                      $('#addTogroup').hide();
                  })
                  $('#add_gm').click(function ()
                  {
                      $('#addTogroup').toggle("slow");
                      $('#existing_gm').hide();
                  })
              })
          </script>

          <div id="edit_members" style="display: none">
              <div class="row">
              <div class="col-md-6" > 
                  <button id="eg_members" type="button" class="send"> Click to edit Members</button>
                  </div>
                  <div class="col-md-6" ><button id="add_gm"  type="button" class="send"> Click to Add Members</button></div>
              </div>
                   <div class="row" id="existing_gm" style="display: none">
        <p> Members: <br></p>
                <div class="table table-responsive" style="height: 200px; overflow: auto">
               <table class="table table-striped table-hover table-bordered" id="group_memberse"  class="display" width="100%">
                   <thead>
                   <tr>
                   <th><input type='checkbox'  id='deselect_ex' onclick='all_members_select()'  checked></th>
               <th>Name</th> 
                <th>Mobile Number</th>
                   </tr>
                   
                   </thead>
                </table>
                    </div>
                  </div>
              <div  id="addTogroup" style="display: none">
             Add a member from My Contacts
              <div id="contacts" >
                <div class="table table-responsive" style="height: 200px; overflow: auto">
          <!----> 

                    <table id="add_toexisting" class="table table-striped table-bordered"  width="100%">
        <thead>
            <tr>
                <th><input type="checkbox" id="add_more" onclick="add_more_members()"></th>
                <th>Name</th>
                <th>Mobile number</th>
                <th >Email Address</th>
               
                <th >Home City</th>
                <th style="display: none">Group</th>
            </tr>
        </thead>
       
        <tbody >
           
     @foreach(var row in content){

         if(@row.GroupID == null ||@row.GroupID == 0 ){
             
         
                      <tr class="">
                         <td>
                 <input type="checkbox" name="member" id="member" class="nums" value=@row.number >
                             </td>
                          <td> @row.FirstName

                              </td>
                          <td >@row.number</td>
                           <td >@row.EmailAddress</td>
                         
                          <td  > @row.HomeCity</td>
                          <td style="display: none">@row.GroupID</td>
                          
                      </tr>
                  }

         }
          
            </tbody>
    </table>
      </div>   
           
                </div>
              </div>
              
              </div>
         
         <script>
             $(document).ready(function ()
             {
                 $('#next_eg').click(function ()
                 {
                     if ($('#txtgname').val() != "")
                     {


                         $('#edit_members').toggle("slow");
                         $('#edit_name').hide();
                         $('#next_eg').hide();
                         $('#editg').show();
                         $('#back_eg').show();
                     }
                     else
                     {
                         $('#groupName_required').modal("show");
                     }

                 });

                 $('#back_eg').click(function ()
                 {
                     $('#edit_members').hide();

                     $('#edit_name').toggle("slow");
                     $('#next_eg').show();
                     $('#editg').hide();
                     $('#back_eg').hide();

                 });
             });
</script>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
          <input type="hidden" name="member2" id="member2" value="">
          <input type="hidden" name="gmember2" id="gmember2" value="">
           <button type="button" class="btn btn-default"  id="next_eg">Next >></button>
           <button type="button" class="btn btn-default"  id="back_eg" style="display: none"><< Back</button>
       
        <button type="submit" class="btn btn-primary" id="editg" style="display: none">Save changes</button>
           <button type="button" class="btn btn-default" data-dismiss="modal" id="stop_red" >Cancel</button>
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--Make a new Group-->
<div class="modal fade" id="newGroup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
          <div class="row">
          <div class="col-xs-10">
          <script>
              $(document).ready(function ()
              {
                  $('#next_ng').click(function ()
                  {
                      if ($('#gname').val() != "")
                      {


                          $('#groupName_div').hide();
                          $('#members_div').toggle("slow");
                          $('#next_ng').hide();
                          $('#back_ng').show();
                          $('#try').show();
                      } else
                      {
                          $('#groupName_required').modal("show");
                      }

                  });
                  $('#back_ng').click(function ()
                  {
                      $('#members_div').hide();
                      $('#groupName_div').toggle("slow");
                      $('#next_ng').show();
                      $('#back_ng').hide();
                      $('#try').hide();
                  });
                  $('#cancel_ng').click(function ()
                  {
                      $('#newGroup').modal("hide");
                      $('#members_div').hide();
                      $('#groupName_div').show();
                      $('#next_ng').show();
                      $('#back_ng').hide();
                      $('#try').hide();
                      $('#gname').val("");
                      $('#gdesc').val("");
                      $('.numsyet:checked').each(function ()
                      {
                          $(this).removeAttr('checked');
                      })

                  });
              });
          </script>
          <h4 class="modal-title">Make a new Group</h4>
          
          </div>
          </div>
        
      </div>
         <form action="Group.cshtml" method="post">
      <div class="modal-body" >
            <div class="row" id="groupName_div">
                <div class="col-md-3">
            Please Provide group name and optional group description
            </div>
            
          
           
               <div class="col-md-9" >
                   <div class="row">
                   <div class="col-md-9">
           <input name="gname" id="gname" class="form-control"type="text" placeholder="Group name" onblur="checkGroupName()" required>
                       </div>
                   <div class="col-md-9">
                       <br>
                       <br>
           <input name="gdesc" id="gdesc" class="form-control"type="text" placeholder="Group Description">
                       </div>

                       </div>
          </div>
</div>
          <div id="members_div" style="display: none">
          @foreach(var gname in groups){
              <input type="hidden" class="existingGroups" value=@gname.GroupName>
          }
            Select Members:
            

               <div class="table-responsive" style="height: 200px; overflow: auto">
          <table id="my_phonebook_select" class="table table-striped table-bordered"  width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mobile number</th>
                <th >Email Address</th>
                <th style="display: none">Home Addr</th>
                <th >Home City</th>
                <th style="display: none">Group</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="display: none">Name</th>
                <th style="display: none">Mobile number</th>
                <th style="display: none">Email Address</th>
                <th style="display: none">Home Addr</th>
                <th style="display: none">Home City</th>
                <th style="display: none">Group</th>
            </tr>
        </tfoot>
        <tbody >
           
     @foreach(var row in content){

         if(@row.GroupID == null ||@row.GroupID == 0 ){
             
         
                      <tr class="">
                         <td>
                 <input type="checkbox" name="member" id="member" class="numsyet" value=@row.number > @row.FirstName

                              </td>
                          <td >@row.number</td>
                           <td >@row.EmailAddress</td>
                          <td style="display: none">@row.HomeAddress</td>
                          <td  > @row.HomeCity</td>
                          <td style="display: none">@row.GroupID</td>
                          
                      </tr>
                  }

         }
          
            </tbody>
    </table>
            </div>
                
           <br>

         </div>            
                
        
     
          </div>
      <div class="modal-footer" style="background-color: #3a4f63">
           
           <button type="button" class="btn btn-default" id="next_ng" >Next >></button>
           <button type="button" class="btn btn-default"  style="display: none" id="back_ng"> << Back </button>
          <input type="submit" class="btn  send" id="try" style="display: none" value="Save Group">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_ng">Cancel</button>
       
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 