﻿@{
    var db=Database.Open("SmsLulu");
    var query= "SELECT * From phonebook";
    var sent="SELECT * From outgoing";
    var group="SELECT * From groups";
    var groups= db.Query(group);
    var outgoing= db.Query(sent);
    var content= db.Query(query);


}
@{
          
            var sms="";
            var schedule="";
            var fname="";
            var groupname="";
             DateTime localDate = DateTime.Now;
             var phone= 254718793671;

            if(IsPost){
               
                sms=Request["smsGroup"];
                schedule=Request["dateGroup"];
                    groupname= Request["groupaddr"];
                     var qname= "SELECT * From groups where members_address=@0";
            var name= db.Query(qname,groupname);
            foreach(var gname in name){
                fname= gname.name;
                }
                var insert ="INSERT INTO outgoing(SMS,Destination_address,Source_address,date_sent,name) values (@0,@1,@2,@3,@4)";
                var mydb= Database.Open("SmsLulu");
                mydb.Execute(insert,sms,groupname,phone,localDate,fname);

                Response.Redirect("~/");



                }
                
            }
               
            
<script>
    $(document).ready(function () {

        var textInit = 160;
        $('#rem').html(textInit + 'Characters remaining');
        $('#smsGroup').keyup(function () {
            var smsLen = $('#smsGroup').val().length;
            var rem = textInit - smsLen;

            $('#rem').html('<small>Characters Used: </small><b>' + smsLen + ' </b><small>Characters remaining: </small><b>' + rem + '</b>');
        });
    });
    $(function () {
        $('#mcon').click(function () {

            $('#slide').slideToggle("slow");
            $('#select_multiple').show();
            $('#sidem').slideToggle("slow");
        });
        $('#ok').click(function () {

            $('#slide').slideToggle("slow");
            $('#select_multiple').hide();
             $('#sidem').slideToggle("slow");
        });
        $('#cancel').click(function () {

            $('#slide').slideToggle("slow");
            $('#select_multiple').hide();
             $('#sidem').slideToggle("slow");
        });
    });

</script>
<div class="row">
              <div class="col-md-8" id="slide">
        <form action="groupSms.cshtml" method="post">
                  <!-- To number-->
            <br>
            <br>
            <div class="row">

                <div class="col-xs-3">
     <p> <b>To:</b>  </p>
    <!-- <input type="text" name="to" value="" class="form-control" id="to" minLength="10" placeholder="07XX XXX XXX" required="required" >
    <br>--> </div>
               
                <div class="col-xs-5" >

            <select name="groupaddr" >
                <option value="">Select a group</option>
                 @foreach(var row in groups){
        <option value=@row.members_address > @row.name</option>
    }
            
            </select>
                    <button id="mcon" class="btn">Click to select Receipts</button>
                    <div id="scon">Contacts List</div>
                    </div>
        </div>
           <br>
   <!-- Content message-->
            <div class="row">
                <div class="col-xs-3">
      <p><b> Message: </b></p>
                    </div>

                <div class="col-xs-9">
      <textarea name="smsGroup" cols="40" rows="4" class="form-control" id="smsGroup" maxLength="160" placeholder="Enter Text sms" required="required" ></textarea>
                 <div id="rem"></div>
                     
   
                
                </div>

                </div>
            <br>
            <div class="row">
                <div class="col-xs-3">
           <b> Schedule:</b>
                    </div>
                <div class="col-xs-9">
            <input type="datetime-local" name="dateGroup" class="form-control" >
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-9">
             <button type="submit" name="submit" value="Send" class="form-control send" id="submit">Send
                 </button>
                    
                    </div>
                </div>
                </form>
                  </div>

            
              </div> 
        <div  class="row" id="select_multiple" style="display: none;margin-top: 40px;margin-left: 80px;margin-bottom: 40px;background-color: #fff">
            <div class="row" style="color: #fff; background-color: #4d6c9e">
                <div class="col-xs-12"> <h6>Contacts</h6></div>
           
               <div class="col-xs-12"> <h4 >Select Names</h4></div>
            </div>
            <div class="row">
                <div class="col-xs-1">
                <label>Select From</label></div>
                <div class="col-xs-4">
                    <select name="source" class="form-control">
                    <option value="Phonebook">Phonebook</option>
                    <option value="groups">Groups</option>
                    <option value="csv_file">Impor from CSV file</option>
                    </select>
                </div>
            
            </div>
            <br>
            <div class="row">
            <div class="col-xs-1">
            <label>Find</label>
                </div>
                <div class="col-xs-4">
                <input name="search_contact" class="form-control"type="text">
            </div>
                <div class="col-xs-2"></div>
                    <div class="col-xs-1"> <label>Find</label></div>
           <div class="col-xs-4">
                <input name="search_contact_selected" class="form-control" type="text">
            </div>
            
            </div>
            <br>
            <div class="row">
            <div class="col-xs-5">
             <div class="table-responsive">
           <table class="table table-hover table-bordered">
                  <tr>
                         <th>Name</th> 
                          <th>Phone Contact</th>
                      </tr>
                  @foreach(var row in content){
                      <tr>
                          <td>@row.FirstName</td>
                          <td>@row.number</td>
                      
                      </tr>
                  }
    </table>
      </div>   
            
                Count [display the total num of rows]
            </div>

                <div class="col-xs-2">
                <button name="add">Add >> </button>

                    <br>
                    <br>
                    <button name="remaove"> << Remove</button>

                    <br>
                    <br>
                    <button name="add"><< Clear Recepiets</button>
                

                </div>

                <div class="col-xs-5" >

                     <div class="table-responsive">
           <table class="table table-hover table-bordered">
                  <tr>
                         <th>Name</th> 
                          <th>Phone Contact</th>
                      </tr>
                 </table>
                         </div>
                    <div class="row">
                    
                    <div class="col-xs-12" style="margin-top: 100px">
                    <button name="dulicates" class="form-control" style="background-color: #808080;color:#fff" >Remove Duplicates</button>
                    Total Receipts [display the total num of rows]

                        </div>
                        </div>
                </div>
            
            

            
            </div>


            <div class="row">
            <div class="col-xs-7"></div>

                <div class="col-xs-5">
                <button name="cancel" id="cancel">Cancel</button>
                    <button name="ok" id="ok">OK</button>
                </div>
            </div>
            <div class="row">
            <div id="footer">
            
            </div>
                </div>
            
            
            </div>
              