﻿
@{
    var db=Database.Open("SmsLulu");
    var query= "SELECT * From phonebook order by GroupID ASC";
    var sent="SELECT * From outgoing";
    var group="SELECT * From groups order by group_id ASC";
    var groups= db.Query(group);
    var outgoing= db.Query(sent);
    var content= db.Query(query);


}

@{
          var mname="";
          var mnum="";
            var sms="";
            var msms="";
            var schedule="";
            var groupnums="";
            var fname="";
            var lname="";
            var title="";
            var groupname="";
             DateTime localDate = DateTime.Now;
             var phone= 254718793671;
             if(IsPost){
           
               if( Request["listHolder"] != ""){
                   // var db=Database.Open("SmsLulu");
                   // var multiple="MultipleSMS";
                  schedule= Request["multiple_schedule"];
                   sms= Request["smsGroup"];
                    groupnums= Request["listHolder"];
                var insert ="INSERT INTO outgoing(SMS,Destination_address,Source_address,date_sent,name,schedule_delivery_time) values (@0,@1,@2,@3,@4,@5)";
                var mydb= Database.Open("SmsLulu");
                
                    for(int i=0; i < groupnums.Length; i+=12){
                       // int j=i+12;
                       
                        mnum= groupnums.Substring(i,12);
                         var qname= "SELECT * From phonebook where number=@0";
                                var name= mydb.Query(qname,mnum);
                                foreach(var pname in name){
                                    mname= pname.FirstName;
                                    lname= pname.LastName;
                                     
                                    }
                
                   sms= sms.Replace("[firstname]",mname);
                    sms= sms.Replace("[lastname]",lname);
                    sms= sms.Replace("[title]","Mr/Mrs");
                mydb.Execute(insert,sms,mnum,phone,localDate,mname,schedule);
                    sms= Request["smsGroup"];
                    }
                  
                  // Response.Write("Ok");
                 Response.Redirect("GroupSmsReload.cshtml"); 

                }else{
                    //Response.Write("err");
                    Response.Redirect("Default.cshtml"); 
                }

                }
                    

               

                
                
            }

               
            
@RenderPage("SmsViaImportScript.cshtml");
<style>

    .contbtn{
        background-color: #3a4f63;
        color: #fff;
        border-radius: 0%;
    }
</style>
<div class="row">
              <div class="col-md-8" id="slide">
        <form action="MultipleSms.cshtml" method="post" id="send_multiple">
                  <!-- To number-->
            <br>
            <br>
            <div class="row">

                <div class="col-md-2">
     <p> <b>To:</b>  </p>
    <!-- <input type="text" name="to" value="" class="form-control" id="to" minLength="10" placeholder="07XX XXX XXX" required="required" >
    <br>--> </div>
               
                <div class="col-md-9" >

          <!-- <select name="groupaddr" class="form-control" > 
                <option value="">Select a group</option>
                 
    }
            
            </select>-->
                    <input style="border: 0px;" type="button" class="form-control send mcon" value="Select Recipients" id="trick1"  required></input>
                    <input type="hidden" id="trick" value="">
                     
                    </div>
                    <div class="col-md-2">
                   
                   
        </div>
        </div>
                <div class="row">
                <div class="col-md-2"></div>
                    <div class="col-md-9" id="concts_selected">Receipts selected : <b>0</b> </div>
                </div>
           <br>
   <!-- Content message-->
            <div class="row">
                <div class="col-md-2">
      <p><b> SMS: </b></p>
                    </div>

                <div class="col-md-9">
      <textarea name="smsGroup" cols="40" rows="4" class="form-control" id="smsGroup" maxLength="160" placeholder="Enter Text sms" required="required" ></textarea>
                 <div id="rem"></div>
                     
   
                
                </div>

                </div>
            <br>
            <div class="row">
                <div class="col-md-2">
           
                    </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-xs-4">
                        
                         <button  type="button" class="btn send" onclick="delivery()">Delivery On...</button>
                        </div>

                        <div class="col-xs-8">
                        
                         <input id="deliver_m" type="text" class="form-control" value="As Soon as Possible" disabled>
                        
                        
                        </div>
                    </div>
                
                   
                    <input type="hidden" name="multiple_schedule" id="multiple_schedule" value="">
                    <input type="hidden" name="listHolder" id="listHolder" >
                     <input type="hidden" name="NAMEHolder" id="NAMEHolder" >
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-9">
             <button type="submit" name="submit" value="Send" class="form-control send" id="submit">Send
                 </button>
                    
                    </div>
                </div>
                </form>
                  </div>

            
              </div> 
        <div  class="row" id="select_multiple" style="display: none;background-color: #fff">
            <div class="col-md-1"></div>
            <div class="col-md-11">
            <div class="row" style="color: #fff; background-color:  #1569C7">
                <div class="col-md-12"> <h6>Contacts</h6></div>
           
               <div class="col-md-12"> <h4 >Select Names</h4></div>
            </div>
            <br>
           <div class="row">
                <div class="col-md-3">
                <label>Select From</label></div>
                <div class="col-md-7">
                    <select name="source" class="form-control" id="source" onchange="checkType(this.id)">
                    <option value="phonebook" default>Phonebook</option>
                    <option value="groups">Groups</option>
                    <option value="csv_file">Impor from CSV file</option>
                    </select>
                </div>
            
            </div>
            
            <br>
            <div class="row" id="from_group" style="display: none">

                <div class="col-md-12">
               <h4> <b> Groups: </b></h4>
                    <br>
                    <div class="table table-responsive" style="height: 200px; overflow: auto">
                    <table class="table table-bordered"  id="sms_group" width="100%">
                        <thead>
                        <tr>
                            <th><input type="checkbox" id="sms_group_check" onclick="sms_group_checker()"></th>
                        <th>Group Name</th>
                            <th>Description</th>
                        </tr>
                            </thead>
                        <tbody> 
                          @foreach(var g in groups){
                              var members="";
                              <tr>
                                  @foreach(var m in content){
                                      if(@g.group_id== @m.GroupID){
                                          members += m.FirstName+","+m.number+".";
                                        
                                        
                                     
                                             
                                      }
                                      
                                  }
                              
                                  <td><input type="checkbox" class="g_nums" onchange="displayMembers()" value=@members>
                                      </td>
                                  <td> @g.GroupName</td>
                                       <td>@g.GroupName</td>
                              </tr>
                          }
                            </tbody>
                        </table>
                        </div>
                </div>

                <div class="col-md-12" >
                    <br>
                <h4> <b>  Mobile Numbers From Group(s) Selected: </b></h4>
                    <br>
                    <div  id="tableHold">
                        <div class="table table-responsive" style="height: 200px; overflow: auto"> <table class="table table-bordered " id="group_table">
                             <thead> <tr>
                            <th><input type="checkbox" id="group_numbers" checked></th>
                                 <th>Name</th>
                                  <th>Mobile Number</th>
                             </tr> 
                             </thead>
                            <tbody id="rm_rows">
                                 </tbody> 
                        </table></div>
                    
                        </div>
                  
                </div>
            
            
             </div>
            <div class="row" id="from_phone">
                <div class="col-md-12">
                
                
               <div class="table table-responsive" style="height: 200px;overflow: auto">
          <table id="num_select" class="table table-striped table-bordered"  width="100%" >
        <thead>
            <tr>
                <th> <input type="checkbox" id="select_all" value="all" onclick="selectall()"></th>
                <th>Name</th>
                <th>Mobile number</th>
                
            </tr>
        </thead>
        <tfoot style="display: none">
            <tr>
                <th></th>
                <th >Name</th>
                <th >Mobile number</th>
                
            </tr>
        </tfoot>
        <tbody >
           
     @foreach(var row in content){
                      <tr class="">
                         <td>
                 <input type="checkbox" name="selectedNums" id="selectedNums" class="nums2" value=@row.number ></td>
                          
                          <td> @row.FirstName

                              </td>
                          <td >@row.number</td>
                          
                          
                      </tr>
                  }

   
          
            </tbody>
    </table>
            </div>
               
                
                </div>
            
            
            </div>
            
            <div class="row">
            <div class="col-md-9"></div>

                <div class="col-md-3 pull-right">
                
                    <button name="ok" class="send" id="ok">OK</button>
                    <button name="cancel"  class="send"id="cancel">Cancel</button>
                </div>
            </div>
            <div class="row">
            <div id="footer">
            
            </div>
                </div>
            
            
            </div>
            </div>
<div class="modal fade"  id="group_type">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">EDIT</h4>
      </div>
         <form action="OldGroupSms.cshtml" method="post">
      <div class="modal-body">

          @RenderPage("OldGroupSms.cshtml")
          </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_group">Cancel</button>
       
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--Recipients not selected modal-->
<div class="modal fade"  id="sending_error">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Error!!</h4>
      </div>
        
      <div class="modal-body">

         <div class="row alert alert-danger alert-dismissible">
         You must select recipients before sending
         
         </div>
          </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
       
      </div>
       
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>              