﻿@{
    if (IsPost)
    {
        var fileName = Path.GetFileName(Request.Files["archivo"].FileName);
        var fileSavePath = Server.MapPath("~/App_Data/" + fileName);
        try
        {
            Request.Files["archivo"].SaveAs(fileSavePath);

           Response.Write("Hi there");
              

        }
        catch (Exception)
        {
            <text>Error en la subida del archivo</text> @*you could comment this line...error in the uploading*@
        }
    }
}
<script>

     function sube(archivo) {
        // alert("Hi there");
        document.getElementById("resId").innerHTML = "hehehe";
        var primer_archivo = archivo.files[0];
        var data = new FormData();
        data.append('archivo', primer_archivo);
        $.ajax({
            url: "/image/",
            type: "POST",
            contentType: false,
            data: data,
            processData: false,
            cache: false,
            success: function (response) {

                //here I put the response ....the image preview or the error message
                //$(archivo).parent().next('.imagen_cargada').html(response);

                alert("Hi there response" + response);
                document.getElementById("resId").innerHTML = "hehehe";
                //here I get the file name and I add it to some specific div
                // $(archivo).parent().next().next('.nombre_imagen').val($(archivo).val().split('\\').pop());
            }
        });
    }
</script>


 <!-- <form method="post" enctype="multipart/form-data">
      <input type="file" name="archivo" onchange="sube(this)" />
    </form>-->