﻿@{
    var db=Database.Open("SmsLulu");
    var group= "SELECT * From groups";
    var groups= db.Query(group);
    var query= "SELECT * From phonebook";
    var content= db.Query(query);


}

@{
            var name="";
            var members="";

            if(IsPost){
                name= Request["gname"];
                members=Request["member"];
                var insert ="INSERT INTO groups(Gname,members_address) values (@0,@1)";
                var mydb= Database.Open("SmsLulu");
                mydb.Execute(insert,name,members);

                Response.Redirect("~/");
            }
        }
<style>

   /* .break:after{
        content: "\000A";
        white-space: pre;
    
    }*/
    .break{
       /*display: block;*/ 
       white-space: pre;
    }
</style>
<script >
    jQuery(document).ready(function ($) {
        $(".editGroup").click(function () {
            //window.document.location = $(this).data("href");
            $("#GroupModal").modal("show");
            var id = $(this).closest('tr').children()[0].textContent;
            document.getElementById("gid").value = id;
            //alert(id);

            $("#txtgname").val($(this).closest('tr').children()[1].textContent);
            // $("#txtlname").val($(this).closest('tr').children()[1].textContent);
            var list = $(this).closest('tr').children()[2].textContent;

            //alert(list);
            // $("#myGroup").hide();
            var members = list.split(",");
            //alert(members);
            for (var i = 0; i < members.length; i++) {
                var checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.name = "gmember";
                checkbox.id = "gmember";
                checkbox.value = members[i];
                // checkbox.setAttribute('required', 'required');
                checkbox.setAttribute('checked', true);
                //alert(members[i]);
                checkbox.setAttribute('class', 'gnums');
                var label = document.createElement("label");
                label.setAttribute('class', 'break');
                label.appendChild(document.createTextNode(members[i] + "                                        "));
                document.getElementById("myGroup").appendChild(checkbox);
                document.getElementById("myGroup").appendChild(label);

                // document.getElementById("myGroup").html("heheh");
                //  $("#myGroup").hide();
            }
        })
    });
    $(function () {

        $('#try').click(function () {
            var final = '';
            $('.nums:checked').each(function () {
                var values = $(this).val();
                final += values;
            });
            //alert(final);
        });
        $('#editg').click(function () {
            var check_id = document.getElementById("gid").value;
            // alert(check_id);
        });

        $('#try1').click(function () {
            var selected = document.getElementById("member").value;
           // alert("Hi there" + selected);
        });
        $('#delete_group').click(function () {
            $('#deleteModal').modal("show");
            $('#group_id').val($('#gid').val());
           // alert($('#contdel_id').val());
        });
    });


</script>
<div class="row">


    <div class="col-xs-7">
 <h4>My Groups</h4>
        <div style="overflow-y: scroll;height: 300px">
        <div class="table-responsive">
           <table class="table table-striped table-hover table-bordered">
                  <tr>
                         <th>Group Name</th> 
                          <th>Members Contacts</th>
                      </tr>
                  @foreach(var row in groups){
                      <tr class="editGroup" data-href="#GroupModal" data-toggle="modal">
                          <td style="display: none">@row.group_id</td>
                          <td>@row.Gname</td>
                          <td>@row.members_address</td>
                      
                      </tr>
                  }
              
    </table>
      </div> 
            </div>  
    </div>
    <div class="col-xs-5" style="margin-top: 20px">
    Make new Group

        <form action="Group.cshtml" method="post">
            <input name="gname" class="form-control"type="text" placeholder="Group name" required>
            Select Members:
            <div id="contacts" style="overflow-y: scroll;height: 200px">
                <div class="table-responsive">
           <table class="table table-striped table-hover table-bordered">
                  <tr>
                         <th>Name</th> 
                          <th>Contact</th>
                      </tr>
              
                  @foreach(var row in content){
                      @var number= row.number;
                      <tr>
                          
                             @foreach(var gg in groups){
                              <td>   
                             
                             @if(groups.Contains(number)){
                              <input type="checkbox" name="member" id="member"  class="nums"value=@row.number disabled> @row.FirstName</td>
                          <td>@row.number</td>
                            }
                      }
                      </tr>
                    
                  }
               
                  
    </table>
      </div>   
           
                </div>
                     
                        <br>

                      <input type="submit" class="btn form-control send" id="try" value="Ok">
                </form>
    
    </div>
    
    </div> 

<div class="modal fade" id="GroupModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
          <div class="row">
          <div class="col-xs-10">
          
          <h4 class="modal-title">EDIT A Group</h4>
          
          </div>
          <div class="col-xs-2">
          <button class="btn btn-danger" id="delete_group"> Delete</button>
          </div>
          </div>
        
      </div>
         <form action="editGroup.cshtml" method="post">
      <div class="modal-body">
          <div class="row">
          <div class="col-xs-6" id="myGroup">
             
              <div class="row">
                  
                  <div class="col-xs-5">
                       <p>Group Name:</p>
                  </div>
                  <div class="col-xs-7">
        <p> <input type="text" class="form-control" id="txtgname" name="txtgname" required/></p>
                      <input type="hidden" id="gid" name="gid"/>
                      </div>
                  </div>
        <p> Members: <br></p>
     
                      
          </div>
              
              <div class="col-xs-6">
             Add a member from My Contacts
              <div id="contacts" style="overflow-y: scroll;height: 200px">
                <div class="table-responsive">
           <table class="table table-striped table-hover table-bordered">
                  <tr>
                         <th>Name</th> 
                          <th>Contact</th>
                      </tr>
                  @foreach(var row in content){
                      <tr>
                          <td><input type="checkbox" name="member" id="member"  class="nums"value=@row.number > @row.FirstName</td>
                          <td>@row.number</td>
                      
                      </tr>
                  }
    </table>
      </div>   
           
                </div>
              
              
              </div>
          
          </div>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="editg">Save changes</button>
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 



 <input type="file" id="fileinput"  accept=".txt,.csv"/>
<script type="text/javascript">
  function readSingleFile(evt) {
    //Retrieve the first (and only!) File from the FileList object
    var f = evt.target.files[0]; 

    if (f) {
      var r = new FileReader();
      r.onload = function(e) { 
	      var contents = e.target.result;
        alert( "Got the file.n" 
              +"name: " + f.name + "n"
              +"type: " + f.type + "n"
              +"size: " + f.size + " bytesn"
              + "starts with: " + contents.substr(1, contents.indexOf("n"))
        );  
      }
      r.readAsText(f);
    } else { 
      alert("Failed to load file");
    }
  }

  document.getElementById('fileinput').addEventListener('change', readSingleFile, false);
</script>

<script>


    $(document).ready(function ()
    {
        $('#ok_excel2').click(function ()
        {
            // alert("clicled");




            if (document.getElementById("ok_excel2").getAttribute("type") == "button")
            {
                $('#cant_import').modal("show");

            }
        });


    });
    var XSMS = XLSX;
    var XWSMS = {
        /* worker message */
        msgS: 'xlsx',
        /* worker scripts */
        rABSS: './xlsxworker2.js',
        norABSS: './xlsxworker1.js',
        noxferS: './xlsxworker.js'
    };
    var rABSS = typeof FileReader !== "undefined" && typeof FileReader.prototype !== "undefined" && typeof FileReader.prototype.readAsBinaryString !== "undefined";
    if (!rABSS)
    {
        document.getElementsByName("userabsS")[0].disabled = true;
        document.getElementsByName("userabsS")[0].checked = false;
    }
    var use_workerS = typeof Worker !== 'undefined';
    if (!use_workerS)
    {
        document.getElementsByName("useworkerS")[0].disabled = true;
        document.getElementsByName("useworkerS")[0].checked = false;
    }
    var transferableS = use_workerS;
    if (!transferableS)
    {
        document.getElementsByName("xferableS")[0].disabled = true;
        document.getElementsByName("xferableS")[0].checked = false;
    }
    var wtf_modeS = false;
    function fixdataS(data)
    {
        var o = "", l = 0, w = 10240;
        for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint8Array(data.slice(l * w)));
        return o;
    }
    function ab2strS(data)
    {
        var o = "", l = 0, w = 10240;
        for (; l < data.byteLength / w; ++l) o += String.fromCharCode.apply(null, new Uint16Array(data.slice(l * w, l * w + w)));
        o += String.fromCharCode.apply(null, new Uint16Array(data.slice(l * w)));
        return o;
    }
    function s2abS(s)
    {
        var b = new ArrayBuffer(s.length * 2), v = new Uint16Array(b);
        for (var i = 0; i != s.length; ++i) v[i] = s.charCodeAt(i);
        return [v, b];
    }
    function xw_noxferS(data, cb)
    {
        var worker = new Worker(XW.noxfer);
        worker.onmessage = function (e)
        {
            switch (e.data.t)
            {
                case 'ready': break;
                case 'e': console.error(e.data.d); break;
                case XW.msg: cb(JSON.parse(e.data.d)); break;
            }
        };
        var arr = rABS ? data : btoa(fixdataS(data));
        worker.postMessage({ d: arr, b: rABS });
    }
    function xw_xferS(data, cb)
    {
        var worker = new Worker(rABS ? XW.rABS : XW.norABS);
        worker.onmessage = function (e)
        {
            switch (e.data.t)
            {
                case 'ready': break;
                case 'e': console.error(e.data.d); break;
                default: xx = ab2strS(e.data).replace(/\n/g, "\\n").replace(/\r/g, "\\r"); console.log("done"); cb(JSON.parse(xx)); break;
            }
        };
        if (rABS)
        {
            var val = s2abS(data);
            worker.postMessage(val[1], [val[1]]);
        } else
        {
            worker.postMessage(data, [data]);
        }
    }
    function xwS(data, cb)
    {
        transferable = document.getElementsByName("xferableS")[0].checked;
        if (transferable) xw_xferS(data, cb);
        else xw_noxferS(data, cb);
    }
    function get_radio_value(radioName)
    {
        var radios = document.getElementsByName(radioName);
        for (var i = 0; i < radios.length; i++)
        {
            if (radios[i].checked || radios.length === 1)
            {
                return radios[i].value;
            }
        }
    }
    function to_json(workbook)
    {
        var result = {};
        workbook.SheetNames.forEach(function (sheetName)
        {
            var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
            if (roa.length > 0)
            {
                result[sheetName] = roa;
            }
        });
        return result;
    }
    function to_csv(workbook)
    {
        var result = [];
        workbook.SheetNames.forEach(function (sheetName)
        {
            var csv = X.utils.sheet_to_csv(workbook.Sheets[sheetName]);
            if (csv.length > 0)
            {
                result.push("SHEET: " + sheetName);
                result.push("");
                result.push(csv);
            }
        });
        return result.join("\n");
    }
    function to_formulae(workbook)
    {
        var result = [];
        workbook.SheetNames.forEach(function (sheetName)
        {
            var formulae = X.utils.get_formulae(workbook.Sheets[sheetName]);
            if (formulae.length > 0)
            {
                result.push("SHEET: " + sheetName);
                result.push("");
                result.push(formulae.join("\n"));
            }
        });
        return result.join("\n");
    }
    var tarea = document.getElementById('b64data');
    function b64it()
    {
        if (typeof console !== 'undefined') console.log("onload", new Date());
        var wb = X.read(tarea.value, { type: 'base64', WTF: wtf_mode });
        process_wb(wb);
    }
    function process_wb(wb)
    {
        var output = "";
        switch (get_radio_value("format"))
        {
            case "json":
                output = JSON.stringify(to_json(wb), 2, 2);
                break;
            case "form":
                output = to_formulae(wb);
                break;
            default:
                output = to_csv(wb);
        }
        if (outsms.innerText === undefined) outsms.textContent = output;
        else
        {


            outsms.innerText = output;

            // alert(document.getElementById("outsms").textContent);
            var textNN = document.getElementById("outsms").textContent;
            alert(textNN);
            var objN = JSON.parse(textNN);
            var lenN = Object.keys(objN.Sheet1).length;
            alert(objN.Sheet1[0].FirstName + "  " + len);
            if (objN.Sheet1[0].FirstName === undefined || objN.Sheet1[0].number === undefined)
            {
                $('#excel_import').modal("hide");
                $('#excel_col').modal("show");
            }

            var table2 = $("#my_Eximportsms").DataTable();
            for (var i = 0; i < lenN; i++)
            {

                /* var rowCount = table2.rows.length;
                var row = table2.insertRow(rowCount);
                // alert(rowCount);
                var checker = 0;
                var cell1 = row.insertCell(0);
                var checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.name = "ExmemberSms";
                checkbox.id = "ExmemberSms";
                checkbox.setAttribute('checked', true);
                checkbox.setAttribute('class', 'Eximport');
                checkbox.value = obj.Sheet1[i].Title + "," + obj.Sheet1[i].FirstName + "," + obj.Sheet1[i].LastName + "," + obj.Sheet1[i].number + "," + obj.Sheet1[i].email + "\n";
                var title = document.createElement("label");
                title.setAttribute('class', 'break');
                title.appendChild(document.createTextNode(obj.Sheet1[i].Title));

                cell1.appendChild(checkbox);*/

                /*

                var cellx = row.insertCell(1);
                var title = document.createElement("label");
                title.setAttribute('class', 'break');
                title.appendChild(document.createTextNode(obj.Sheet1[i].Title));
                cellx.appendChild(title);

                var cell2 = row.insertCell(2);
                var fname = document.createElement("label");
                if (obj.Sheet1[i].FirstName === undefined)
                {
                checker = 1;
                document.getElementById("ok_excel2").setAttribute("type", "button");
                // alert("It worked");
                fname.setAttribute('class', 'error');
                }
                fname.appendChild(document.createTextNode(obj.Sheet1[i].FirstName));
                cell2.appendChild(fname);

                var cell3 = row.insertCell(3);
                var mname = document.createElement("label");
                mname.setAttribute('class', 'break');
                mname.appendChild(document.createTextNode(obj.Sheet1[i].LastName));
                cell3.appendChild(mname);

                var cell4 = row.insertCell(4);
                var lname = document.createElement("label");
                if (obj.Sheet1[i].number === undefined)
                {
                document.getElementById("ok_excel2").setAttribute("type", "button");
                checker = 1;
                lname.setAttribute('class', 'error');
                }
                lname.appendChild(document.createTextNode(obj.Sheet1[i].number));
                cell4.appendChild(lname);



                var cell5 = row.insertCell(5);
                var num = document.createElement("label");
                num.setAttribute('class', 'break');
                num.appendChild(document.createTextNode(obj.Sheet1[i].email));
                cell5.appendChild(num);
                */
                table2.row.add([
                1,
                1,
                1,
                1,
                1,
                1]).draw(false);


            }

            Object.size = function (myObj)
            {
                var size = 0, key;
                for (key in myObj)
                {
                    if (myObj.hasOwnProperty(key)) size++;
                }
                return size;
            };

            // Get the size of an object
            var size = Object.size(objN.Sheet1);
            //   alert(size);






        }
        if (typeof console !== 'undefined') console.log("output", new Date());
    }
    var drop = document.getElementById('drop');
    function handleDrop(e)
    {
        e.stopPropagation();
        e.preventDefault();
        rABS = document.getElementsByName("userabs")[0].checked;
        use_worker = document.getElementsByName("useworker")[0].checked;
        var files = e.dataTransfer.files;
        var f = files[0];
        {
            var reader = new FileReader();
            var name = f.name;
            reader.onload = function (e)
            {
                if (typeof console !== 'undefined') console.log("onload", new Date(), rABS, use_worker);
                var data = e.target.result;
                if (use_worker)
                {
                    xwS(data, process_wb);
                } else
                {
                    var wb;
                    if (rABS)
                    {
                        wb = X.read(data, { type: 'binary' });
                    } else
                    {
                        var arr = fixdata(data);
                        wb = X.read(btoa(arr), { type: 'base64' });
                    }
                    process_wb(wb);
                }
            };
            if (rABS) reader.readAsBinaryString(f);
            else reader.readAsArrayBuffer(f);
        }
    }
    function handleDragover(e)
    {
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer.dropEffect = 'copy';
    }
    if (drop.addEventListener)
    {
        drop.addEventListener('dragenter', handleDragover, false);
        drop.addEventListener('dragover', handleDragover, false);
        drop.addEventListener('drop', handleDrop, false);
    }

    var xlf = document.getElementById('xlfsms');
    function handleFile(e)
    {
        rABS = document.getElementsByName("userabs")[0].checked;
        use_worker = document.getElementsByName("useworker")[0].checked;
        var files = e.target.files;
        var f = files[0];
        {
            var reader = new FileReader();
            var name = f.name;
            reader.onload = function (e)
            {
                if (typeof console !== 'undefined') console.log("onload", new Date(), rABS, use_worker);
                var data = e.target.result;
                if (use_worker)
                {
                    xw(data, process_wb);
                } else
                {
                    var wb;
                    if (rABS)
                    {
                        wb = X.read(data, { type: 'binary' });
                    } else
                    {
                        var arr = fixdata(data);
                        wb = X.read(btoa(arr), { type: 'base64' });
                    }
                    process_wb(wb);
                }
            };
            if (rABS) reader.readAsBinaryString(f);
            else reader.readAsArrayBuffer(f);
        }
    }
    if (xlf.addEventListener) xlf.addEventListener('change', handleFile, false);


</script>