﻿@{
  
}
 
<!DOCTYPE html>
 
<html lang="en">
    <head>
        <meta charset="utf-8" />
         <title></title>
         <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
        <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js" type="text/javascript"></script>
         <script>
             function renderResult(data) {
                 alert(data);
                 $("#result").html(data);

             }
             $(function () {

                 // create good looking jQuery UI button element
                 $(".button").button();


                 // hook a getJSON to the click event of the button
                 $("#getdata").click(function () {
                     alert("Check");
                     $.get('/numbers/', function (data) {
                         renderResult(data);
                     });
                 });
             });
        </script>
    </head>
    <body>
        <div id="getdata" class="button">Get data</div>
        <ul id="result"></ul>
    </body>
</html>