.body {
    
    background-color: #b6b7bc;
}

.header{
    margin-top: 20px;
    background-color: #0041C2; 
    color: #fff;
    height: 50px;
    
    
}
.menu{
    
    background-color: #3a4f63;
    
}
.cbtn{
    background-color: #4e667d;
    border-radius: 0%;
    margin-top: 5px;
    height: 30px;
    padding-bottom: 20px;
    color: #84bcc7;
    border: 1px #fff solid ;
    width: 60px;
    
}

.cbtn:hover{
    background-color: #b6b7bc;
    border-radius: 0%;
     margin-top: 5px;
    height: 30px;
    padding-bottom: 20px;
    color: #000;
}

.sidemenu{
    
    margin-top: 10px;
    padding-top: 10px;
    width: 150px;
    background-color: #4b6c9e;
    color: #fff;
    border-radius: 0%;
}
.menu2{
   background-color:  #3a4f63
}

.menu2:hover{
    background-color: #b6b7bc;
    color: #000;
}

a{
   color: #fff;
}

.space{
    margin-bottom: 10px;
}

.send{
    background-color: #f00;
}

.send:hover{
    background-color: #b6ff00;
}