﻿@{
    var db=Database.Open("SmsLulu");
    var query= "SELECT * From phonebook";
  
    
    var content= db.Query(query);


}
@{
          var to="";
            var sms="";
            var schedule="";
            var fname="";
            var groupname="";
            var mname="";
            var lname="";
             DateTime localDate = DateTime.Now;
             var phone= 0718793671;

           if(IsPost){

                to= Request["modTo"];
                sms=Request["sms"];
                schedule=Request["date"];
                fname= Request["name"];
                if (Request["modTo"]!= ""){
                
            
                var insert ="INSERT INTO outgoing(SMS,Destination_address,Source_address,date_sent,name) values (@0,@1,@2,@3,@4)";
                var mydb= Database.Open("SmsLulu");
                
                mydb.Execute(insert,sms,to,phone,localDate,fname);

              Response.Redirect("~/");
            }
              }  
                
           
            }



<script>
    function delivery() {
        $('#deliver').modal("show");
    }
    function checkContact() {

        var cnum = document.getElementById("to").value;
        // alert();
        if (cnum.includes(",") == true) {
            // alert("Yeah")

            var mod_cnum = cnum.split(",");
           // alert(mod_cnum[0]);
            if (mod_cnum[1].substr(0, 4) == "2547" && mod_cnum[1].length == 12) {
                document.getElementById("modTo").value = mod_cnum[1];
                document.getElementById("name").value = mod_cnum[0];

                //  alert("awesome");
                $('#errors').html("");
            }
            else {
                $('#errors').html("Invalid Contact format should be  2547XXXXXXXX 12 digits");
                // document.getElementById("errors).innerHTML= " Invalid Contact format should be  2547XXXXXXXX 12 digits";
                document.getElementById("to").value = "";


            }
        } else {
            if (cnum.substr(0, 4) == "2547" && cnum.length == 12) {
                document.getElementById("modTo").value = cnum;
               // document.getElementById("name").value = mod_cnum[0];

                //  alert("awesome");
                $('#errors').html("");
            }else{
                 $('#errors').html("Invalid Contact format should be  2547XXXXXXXX 12 digits");
                // document.getElementById("errors).innerHTML= " Invalid Contact format should be  2547XXXXXXXX 12 digits";
                document.getElementById("to").value = "";
            }
        }

    }
</script>
<script>

    $(document).ready(function ()
    {
        $('#I_do').click(function ()
        {
            $('#SingleContact').modal("show");
        });
        $('#ok_queued').click(function ()
        {
            var num = document.getElementById("modTo").value;
            var saved_num = document.getElementById("saved_pnums").value;
            // alert($('#saved_pnums').val());
            var refresh = true;
            if (saved_num.includes(num) == false)
            {
                refresh = false;
                document.getElementById("newnumber").value = num;

                $('#do_you').modal("show");
            }
            $('#modTo').val("");
            $('#to').val("");
            $('#sms').val("");
            if (refresh == true)
            {
                //  window.location = "Default.cshtml";
            }
            //alert("clicked"); 
        });

        var textInit = 160;
        $('#remaning').html(textInit + 'Characters remaining');
        $('#sms').keyup(function ()
        {
            var smsLen = $('#sms').val().length;
            var rem = textInit - smsLen;

            $('#remaining').html('<small>Characters Used: </small><b>' + smsLen + ' </b><small>Characters remaining: </small><b>' + rem + '</b>');
        });
    });

    function renderResult(data)
    {
        //  alert(data);
        $("datalist").empty();
        $("datalist").html(data);
    }

    $(function ()
    {


        $("#to").keyup(function ()
        {
            // alert("hi there");
            $.get('/numbers/', function (data)
            {
                renderResult(data);
            });
        });

    });


 </script>
<style>
    .send{
        color: #fff;
        border-radius: 0%;
        background-color:    #1569C7;
    }
    .send:hover{
         color: #000;
        border-radius: 0%;
        background-color: #0ff;
    }
</style>
<script>
    $(document).ready(function () {
        $('form#send_single').submit(function (e) {
            e.preventDefault();


            document.getElementById("dateset").value = $('#date').val()+" "+ $('#time').val();
          // alert($('#dateset').val());
            //alert("It worked");
            //var x=document.getElementById("id");
            //  var info = new FormData();
            // info.append('username', $('#username').val());
            // info.append('password', $('#password').val());
            //info.append('user_email', $('#user_email').val());
            $.ajax({
                url: $("#send_single").attr('action'),
                method: 'POST',

                data: $("#send_single").serialize(),
                success: function (response) {
                    if (response != null) {

                        $('#queue').modal("show");

                    }
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

    });


    function downloadInnerHtml(filename, elId, mimeType) {
        var elHtml = document.getElementById(elId).innerHTML;
        var link = document.createElement('a');
        mimeType = mimeType || 'text/plain';

        //link.setAttribute('download', filename);
        link.setAttribute('href', 'data:' + mimeType + ';charset=utf-8,' + encodeURIComponent(elHtml));
        link.click();
    }

    var fileName = 'me.txt';
    $(document).ready(function () {
        $('#downloadLink').click(function () {
            alert("hi there");
            downloadInnerHtml(fileName, 'main', 'text/html');
        });
    });

</script>
<div style="display: none">
<div id="main">
    <span>Hey there</span>
</div>

<a href="#" id="downloadLink">Download the inner html</a>
    </div>
<div class="row">
              <div class="col-md-8">
        <form  action="singleSms.cshtml" method="post" id="send_single">
                  <!-- To number-->
            <br>
            <br>
            <div class="row">
                @{
                    
                var num_saved="";
                foreach(var num in content){
                    num_saved += num.number;
                }
                <input type="hidden" name="saved_pnums" id="saved_pnums" value=@num_saved>
                }

                <div class="col-sm-2">
     <p> <b>To:</b>  </p>
                    </div>
                     <div class="col-sm-9">
    <input type="text" list="numbers" name="to" id="to"  class="form-control"  onblur="checkContact()" placeholder="2547XX XXX XXX" required="required" >
   <datalist id="numbers" >
      
   </datalist>
                         <input type="hidden" id="modTo" name="modTo" value="">
                         <input type="hidden" id="name" name="name" value="">
                        <div style="color: #f00"id="errors"></div>
                      
                         <br> 
              
                    </div>
               
        </div>
           <br>
   <!-- Content message-->
            <div class="row">
                <div class="col-sm-2">
      <p><b> SMS: </b></p>
                    </div>

                <div class="col-sm-9">
      <textarea name="sms" id="sms" cols="40" rows="4" class="form-control" id="sms" maxLength="160"  placeholder="Enter Text sms" required="required" ></textarea>
                   
                    <div id="remaining"></div>
                     </div>

                </div>
            <br>
            <div class="row">
                <div class="col-sm-2">
          
                    </div>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-4">
                    <button  type="button" class="btn send" onclick="delivery()">Delivery On...</button>
                            </div>
                        <div class="col-xs-8">
                    <input id="deliver_on" class="form-control" name="deliver_on" type="text" value="As Soon as Possible" disabled>
                            </div>
                <input type="hidden" name="dateset" id="dateset" value="">
                    </div>
                    </div>
                <!--<div class="col-xs-5">
            <input type="date" name="date" class="form-control" >
                    </div>
                
                    <div class="col-xs-1">
                    Time: </div>
                <div class="col-xs-3">
                <input type="time" id="smsTime" name="smsTime" class="form-control">
                    </div>-->
                </div>
            
            <br>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-9">
             <button  type="submit" name="submitSingle" value="Send" class="form-control send" id="submitSingle">Send
                 </button>
                    </div>
                </div>
                </form>
                  </div>
            
              </div>   