﻿@{
    var db=Database.Open("SmsLulu");
   
    var group="SELECT * From groups";
    var groups= db.Query(group);
    


}
@{
          
            var sms="";
            var schedule="";
            var groupnums="";
            var fname="";
            var groupname="";
             DateTime localDate = DateTime.Now;
             var phone= 254718793671;

            if(IsPost){
               
                sms=Request["smsGroupSelected"];
                schedule=Request["dateGroup"];
                if(Request["groupaddr"] != null){
                    
                    groupname= Request["groupaddr"];
                     var qname= "SELECT * From groups where members_address=@0";
            var name= db.Query(qname,groupname);
            foreach(var gname in name){
                fname= gname.Gname;
                }
                var insert ="INSERT INTO outgoing(SMS,Destination_address,Source_address,date_sent,name) values (@0,@1,@2,@3,@4)";
                var mydb= Database.Open("SmsLulu");
                mydb.Execute(insert,sms,groupname,phone,localDate,fname);

                Response.Redirect("~/");
                }

                
                    



                }
                
            }

<script>
     $(document).ready(function () {

        var textInit = 160;
        $('#Grouprem').html(textInit + 'Characters remaining');
        $('#smsGroupSelected').keyup(function () {
            var smsLen = $('#smsGroupSelected').val().length;
            var rem = textInit - smsLen;

            $('#Grouprem').html('<small>Characters Used: </small><b>' + smsLen + ' </b><small>Characters remaining: </small><b>' + rem + '</b>');
        });
    });           
            
</script>
<div class="row">
              <div class="col-md-8" id="slide">
        <form action="groupSms.cshtml" method="post">
                  <!-- To number-->
            <br>
            <br>
            <div class="row">

                <div class="col-xs-3">
     <p> <b>To:</b>  </p>
    <!-- <input type="text" name="to" value="" class="form-control" id="to" minLength="10" placeholder="07XX XXX XXX" required="required" >
    <br>--> </div>
               
                <div class="col-xs-9" >

            <select name="groupaddr" class="form-control" required> 
                <option value="">Select a group</option>
                 @foreach(var row in groups){
        <option value=@row.group_id> @row.GroupName</option>
    }
            
            </select>
                    </div>
        </div>
                
           <br>
   <!-- Content message-->
            <div class="row">
                <div class="col-xs-3">
      <p><b> Message: </b></p>
                    </div>

                <div class="col-xs-9">
      <textarea name="smsGroupSelected" cols="40" rows="4" class="form-control" id="smsGroupSelected" maxLength="160" placeholder="Enter Text sms" required="required" ></textarea>
                 <div id="Grouprem">
                     sdlfnsldnb
                 </div>
                     
   
                
                </div>

                </div>
            <br>
            <div class="row">
                <div class="col-xs-3">
           <b> Schedule:</b>
                    </div>
                <div class="col-xs-9">
            <input type="datetime-local" name="dateGroup" class="form-control" >
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-9">
             <button type="submit" name="submit" value="Send" class="form-control send" id="submit">Send
                 </button>
                    
                    </div>
                </div>
                </form>
                  </div>

            
              </div> 
       