﻿@{
    var db=Database.Open("SmsLulu");
    var query= "SELECT * From phonebook";
    var sent="SELECT * From outgoing order by Transno DESC";
    var outgoing= db.Query(sent);
    var content= db.Query(query);


}
<script type="text/javascript">

    $(document).ready(function () {

        var textInit = 160;
        $('#remaningEdit').html(textInit + 'Characters remaining');
        $('#smsEdit').keyup(function () {
            var smsLen = $('#smsEdit').val().length;
            var rem = textInit - smsLen;

            $('#remainingEdit').html('<small>Characters Used: </small><b>' + smsLen + ' </b><small>Characters remaining: </small><b>' + rem + '</b>');
        });

        $('.delete_sms').click(function () {
            $('#delsms').val($(this).closest('tr').children()[4].textContent);
            $('#deleteModal').modal("show");
            
      //alert($('#delsms').val());
            

        });

        $('.editMessage').click(function () {
            //alert("clicked");
            $('#editSmsModal').modal("show");
            $('#toEdit').val($(this).closest('tr').children()[2].textContent);

            $('#smsEdit').val($(this).closest('tr').children()[3].textContent);
            $('#scheduleEdit').val($(this).closest('tr').children()[0].textContent);

            $('#smsId').val($(this).closest('tr').children()[4].textContent);



            //alert(cont_id);

        });


    });
    /* $(function() {
    $('#my_messages').scrollTableBody();
    });*/

        </script>



<div class="content table table-responsive">
<table id="my_messages" class="table table-striped table-bordered test" data-page-length='5'>
        <thead class="fixedHeader">
            <tr>
                <th >Date</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Message</th>
               <th style="display: none" >Status</th>
                <th >Edit</th>
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th style="display: none">Date</th>
                <th style="display: none">Name</th>
                <th style="display: none">Message</th>
                <th style="display: none">Mobile Number</th>
                <th style="display: none">Home City</th>
                <th style="display: none">Edit</th>
            </tr>
        </tfoot>
        <tbody class="scrollContent" >
            
     @foreach(var row in outgoing){
                      <tr >
                          <td >@row.schedule_delivery_time</td>
                          <td >@row.name</td>
                           <td >@row.Destination_address</td>
                          <td >@row.SMS</td>
                         <td  style="display: none">@row.Transno</td>
                          <td  >
                             
                         
                 <style>
                   
                   
                     
                 </style>
              
              <a class="editMessage edit"   > Edit </a>
                
            <a class="delete_sms edit"  id="" >  Delete
              </a>
  

                 
                          
                          </td>
                          
                      </tr>
                  }

   
         
            </tbody>
    </table>

</div>