﻿
<script>

  $(document).ready(function()
			{
				/*
					initialize plugin
				*/
				$('#example').dataTable(
				{
					"sScrollY": 200,
					/*
						This will enable jQuery UI theme
					*/
					"bJQueryUI": true,
					/*
						will add the pagination links
					*/
					"sPaginationType": "full_numbers"
				});
			});
		
    function checkNumber() {

        var cnum = document.getElementById("number").value;
        if (cnum.substr(0, 4) == "2547" && cnum.length == 12) {
            // alert("awesome");
            $('#numerrors').html("");
        } else {
            $('#numerrors').html("Invalid Contact format should be  2547XXXXXXXX 12 digits");
            // document.getElementById("errors).innerHTML= " Invalid Contact format should be  2547XXXXXXXX 12 digits";
            document.getElementById("number").value = "";


        }
    }
    function checkNewNumber() {

        var cnum = document.getElementById("newnumber").value;
        if (cnum.substr(0, 4) == "2547" && cnum.length == 12) {
            // alert("awesome");
            $('#newerrors').html("");
        } else {
            $('#newerrors').html("Invalid Contact format should be  2547XXXXXXXX 12 digits");
            // document.getElementById("errors).innerHTML= " Invalid Contact format should be  2547XXXXXXXX 12 digits";
            document.getElementById("newnumber").value = "";


        }
    }

    $(document).ready(function () {
        $('.editContacts').click(function () {
            $('#ContactsModal').modal("show");
            $('#fname').val($(this).closest('tr').children()[0].textContent);
            $('#midname').val($(this).closest('tr').children()[1].textContent);
            $('#lname').val($(this).closest('tr').children()[2].textContent);
            $('#email').val($(this).closest('tr').children()[7].textContent);
            $('#homeaddr').val($(this).closest('tr').children()[5].textContent);
            $('#homecity').val($(this).closest('tr').children()[6].textContent);
            $('#number').val($(this).closest('tr').children()[4].textContent);
            $('#nicname').val($(this).closest('tr').children()[3].textContent);

            var cont_id = $(this).closest('tr').children()[8].textContent;
            //alert(cont_id);
            $('#id').val(cont_id);
        });

        $('.newContact').click(function () {
            // alert("Say cheesee");
            $('#SingleContact').modal("show");
        });

        $('#delete_cont').click(function () {

            $('#deleteModal').modal("show");
            $('#contdel_id').val($('#id').val());
            //$('#')

        });
        $('#okdel').click(function () {
            // $('#contdel_id').val($('#id').val());
        });

    });
</script>
          
<style>
   

   tbody {
   overflow-y: auto;
   overflow-x: hidden;
   display: block;
   max-height: 200px;   
}
    thead {         
   display: table;  
   width: 100%;    
}
tbody tr {
   display: table;
   width: 100%;    
}
    thead {
   table-layout: fixed;  
}
tbody tr {
   table-layout: fixed;  
}
th, td {
   width: 100%;  
}    
 
    .hideme{
        display: none;
    }
    .displayme {
        
	background-color: #f00;
    margin-left: 300px;
	
	* cursor: hand;
}
    .resize{
        padding-right: 100px;
        background-color: #000;
        padding-right: 200px;
    }
</style>
 <div class="row" >
            <div class="col-xs-6">
             <h4>My Contact</h4>
            </div>
              <div class="col-xs-4"></div>
              <div class="col-xs-2">
             <a  type="button"  data-toggle="modal" class="btn newContact" style="background-color: #0041C2;border-radius:50%" >Add Mobile Number<img class="img-responsive" style="border-radius:50%;color:#4b6c9e ;width: 20px"  src="plus.png" alt="Add a contact" /></a>
            </div>
          
          </div>
<div class="row">
    <div class="table table-responsive">
<table  border="1" class="table table-stripped " id="example">
					<thead>
						<tr class="">
							<th >Name</th>
							<th  >Mobile Number</th>
							<th>Email Address</th>
							<th style="display: none">Home Adress</th>
							<th style="display: none">Home City</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Mobile Number</th>
							<th>Email Address</th>
							<th style="display: none">Home Adress</th>
							<th style="display: none">Home City</th>
						</tr>
					</tfoot>
					<tbody>
                          @foreach(var row in content){
                      <tr class="editContacts">
                          <td>@row.FirstName</td>
                          <td class="hideme">@row.MidName</td>
                          
                          <td>@row.number</td>
                          
                           <td>@row.EmailAddress</td>
                          <td class="hidden"> @row.ID</td>
                      
                      </tr>
                  }
						
						
					</tbody>
				</table>

        </div>

</div>

         
         
<div style="display: none">
            <div class="table-responsive">
           <table class="table table-striped table-hover table-bordered" id="myTable2">
                  <tr>
                         <th>Name</th> 
                          <th>Phone Contact</th>
                          <th>Email Address</th>
                      </tr>
                  @foreach(var row in content){
                      <tr class="editContacts">
                          <td>@row.FirstName</td>
                          <td class="hideme">@row.MidName</td>
                          <td class="hideme">@row.LastName</td>
                          <td class="hideme">@row.NickName</td>
                          <td>@row.number</td>
                          
                          <td class="hideme">@row.HomeAddress</td>
                           <td class="hideme" >@row.HomeCity</td>
                           <td>@row.EmailAddress</td>
                          <td class="hidden"> @row.ID</td>
                      
                      </tr>
                  }
    </table> 
                
      </div>        
               
</div>

<!--Edit contact modal-->
<div class="modal fade" id="ContactsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
          <div class="row">
              <div class="col-xs-10">
                  <h4 class="modal-title">EDIT Contact</h4>
              </div>
               <div class="col-xs-2">
                   <button class="btn btn-danger" id="delete_cont"> Delete</button>
              </div>
        
          
          
    </div>
      </div>
         <form action="editPhonebook.cshtml" method="post">
      <div class="modal-body">
          <div class="row">
          <div class="col-xs-6">
             
              <div class="row">
                  
                  <div class="col-xs-12">
                      
        <p> <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" required/></p>
                     
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                      
        <p> <input type="text" class="form-control" id="midname" placeholder="Middle Name" name="midname"/></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                   
        <p> <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" /></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                      
        <p> <input type="text" class="form-control" id="nicname"placeholder="Title" name="nicname" /></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-5">
                       <p>:</p>
                  </div>
                  <div class="col-xs-7">
        <p> <input type="text" class="form-control" id="email" placeholder="Email Address" name="email" /></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                       
        <p> <input type="text" class="form-control" id="homeaddr" placeholder="Home Address" name="homeaddr"/></p>
                      
                      </div>
                  </div>
               <div class="row">
                  
                  <div class="col-xs-12">
                       
        <p> <input type="text" class="form-control" id="homecity" placeholder="Home City" name="homecity"/></p>
                      
                      </div>
                  </div>
       </div>
              <div class="col-xs-6">
              
              <div class="row">
                  
                  <div class="col-xs-12">
                       
        <p> <input type="text" class="form-control" id="number" name="number" placeholder="Phone Number" onchange="checkNumber()" required/>
            <input type="hidden" id="id" name="id" value="">
           
        </p>
                      <div style="color: #f00"id="numerrors"></div> 
                      </div>
                  </div>
              <div class="row">
                  <div class="col-xs-2"></div>
              <div class="col-xs-9" style="margin-top: 100px">
              <img src="Lulu.png" alt="Lulu logo" class="image-responsive"/>
              
              </div>
              </div>
              </div>
          </div>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="editphone">Save changes</button>
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--Adding a single contact-->

<div class="modal fade" id="SingleContact">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Add new Contact</h4>
      </div>
         <form action="newPhonebook.cshtml" method="post">
      <div class="modal-body">
          <div class="row">
          <div class="col-xs-6">
             
              <div class="row">
                  
                  <div class="col-xs-12">
                       
        <p> <input type="text" class="form-control" id="newfname" name="newfname" placeholder="First Name " required/></p>
                     
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                      
        <p> <input type="text" class="form-control" id="newmidname" placeholder="Middle Name" name="newmidname"/></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                      
        <p> <input type="text" class="form-control" id="newlname" placeholder="Last Name" name="newlname" /></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                      
        <p> <input type="text" class="form-control" id="newnicname" placeholder="Nick Name" name="newnicname" /></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-5">
                       <p>:</p>
                  </div>
                  <div class="col-xs-7">
        <p> <input type="email" class="form-control" placeholder="Email Address" id="newemail" name="newemail" /></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-12">
                       
                 
        <p> <input type="text" class="form-control" id="newhomeaddr" placeholder="Home Address" name="newhomeaddr"/></p>
                      
                      </div>
                  </div>
               <div class="row">
                  
                  <div class="col-xs-12">
                       
        <p> <input type="text" class="form-control" id="newhomecity" placeholder="Home City" name="newhomecity"/></p>
                      
                      </div>
                  </div>
       </div>
              <div class="col-xs-6">
              
              <div class="row">
                  
                  <div class="col-xs-12">
                      
        <p> <input type="text" class="form-control" id="newnumber" name="newnumber" placeholder="Phone Number" onchange="checkNewNumber()" required/>
            
           
        </p>
                      <div style="color: #f00"id="newerrors"></div> 
                      </div>
                  </div>
                  <div class="row">
                  
                  <div class="col-xs-12">
                      
              <select name="groupName" class="form-control">
              <option value="">Assign a group</option>
                  @foreach(var g in groups){
                      <option value=@g.group_id>@g.GroupName</option>
                  }
              </select>
                  </div>
                      </div>
              <div class="row">
                  <div class="col-xs-2"></div>
              <div class="col-xs-9" style="margin-top: 100px">
              <img src="Lulu.png" alt="Lulu logo" class="image-responsive"/>
              
              </div>
              </div>
              </div>
          </div>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="newphone">Save Contact</button>
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
