﻿<script>
    function checkDate() {
        var now = new Date();
        var year = now.getFullYear();
        var month = now.getMonth() + 1;
        var day = now.getDate();
        var hour = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();
        if (month.toString().length == 1) {
            var month = '0' + month;
        }
        if (day.toString().length == 1) {
            var day = '0' + day;
        }
        if (hour.toString().length == 1) {
            var hour = '0' + hour;
        }
        if (minute.toString().length == 1) {
            var minute = '0' + minute;
        }
        if (second.toString().length == 1) {
            var second = '0' + second;
        }


        var i_date = document.getElementById("date").value;
        var s_date = i_date.split('-');
        var i_time = document.getElementById("time").value;

        var s_time = i_time.split(":");
        if (((s_date[0] == year) | s_date[1] == month | s_date[2] == day) && (s_time[0] < hour | s_time[1] < minute)) {
            $('#time_error').show();
            $('#date_errorM').hide();

            $('#date_error').modal("show");
            document.getElementById("time").value = hour + ':' + minute;
        }
        // alert(s_time[0])
        // alert(s_date[0])

        if ((s_date[0] < year | s_date > year) | s_date[1] < month | s_date[2] < day) {
            $('#time_error').hide();
            $('#date_errorM').show();
            $('#date_error').modal("show");
            document.getElementById("date").value = year + '-' + month + '-' + day;
        }
    }
    $(document).ready(function () {

        $('#okset').click(function () {
            //alert("Just testing");
            var getState = document.getElementsByName("schedule");
            //alert(getState);
            for (i = 0; i < getState.length; i++) {
                if (getState[0].checked) {
                    //  alert("ASap");
                    $('#deliver_on').val("As soon as possible");
                    $('#deliver_m').val("As soon as possible");
                                        $('#deliver_edit').val("As soon as possible");

                }
                if (getState[1].checked) {
                    //  alert("set Date");
                    $('#deliver_on').val($('#date').val() + " " + $('#time').val());
                    $('#deliver_m').val($('#date').val() + " " + $('#time').val());
                     $('#deliver_edit').val($('#date').val() + " " + $('#time').val());
                }
            }

        });

        var today = new Date();
        // alert(today.timeNow())
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        var hour = today.getHours();
        var minute = today.getMinutes();
        var second = today.getSeconds();
        if (hour.toString().length == 1) {
            var hour = '0' + hour;
        }
        if (minute.toString().length == 1) {
            var minute = '0' + minute;
        }
        if (second.toString().length == 1) {
            var second = '0' + second;
        }
        if (dd < 10) {
            dd = '0' + dd
        }

        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;

        document.getElementById("date").value = today;
        document.getElementById("time").value = hour + ':' + minute;


    });
</script>
<!--Display for scheduling-->
<div class="modal fade" id="deliver" style="margin-top: 100px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1569C7; color: #fff">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Delivery Plan</h4>
      </div>
         
      <div class="modal-body">
        
             <div class="row">
                <div class="col-xs-2"></div>
                 <div class="col-xs-8">
        The SMSWeb Application can deliver messages as soos as <br>
             possible or it can schedule messages for delivery for up to<br> 1 year
             from now<br>
                     </div>
                 </div>
             <br>
             <br>
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                   <b> Set as :</b> <br>
                   
              <input type="radio" name="schedule" id="store" value="asap" checked> As soon as Possible<br>
  <input type="radio" name="schedule" id="store" value="dateset"> After This date and time<br>
                    <div class="row">
                        <div class="col-xs-7">
             <input type="date" name="date" onblur="checkDate()"id="date" class="form-control" value= "" >
                            </div>
                        <div class="col-xs-5">
                    <input type="time" id="time" name="time" onblur="checkDate()" class="form-control" value="12:00">
                            </div>

                        </div>
                        
         </div>
          </div>
          
        
      </div>
      <div class="modal-footer" style="background-color:  #1569C7">
        <button type="button" class="btn btn-default"  data-dismiss="modal" id="canceldelivery">Cancel</button>
        <button  class="btn btn-default" data-dismiss="modal" id="okset">OK</button>
      </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 
<!--Date error-->
<div class="modal fade" id="date_error" style="margin-top: 100px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1569C7; color: #fff">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Date error!</h4>
      </div>
         
      <div class="modal-body">
        
             <div class="row">
                <div class="col-xs-2"></div>
                 <div class="col-xs-8">
                     <div  id="date_errorM" class="row alert alert-danger alert-dismissible" style="display: none">
                         <b>The delivery date set should neither be less than the current date nor more than one year from now .</b>
                         </div>
                     <div  id="time_error" class="row alert alert-danger alert-dismissible" style="display: none">
                         <b>The delivery time set should neither be less than the current time as long as the date is set to current date.</b>
                         </div>
         </div>
          </div>
          
        
      </div>
      <div class="modal-footer" style="background-color:  #1569C7">
      
        <button  type="button" class="btn btn-default" data-dismiss="modal" id="ok_queued">OK</button>
      </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>