﻿

<div class="col-md-3 tabbable tabs-left">


   <ul class="nav nav-tabs">
    
  <li><a href="#"style="margin-top: 10px;padding-bottom: 10px;border-radius: 0%;width: 150px;background-color: #4b6c9e;color: #fff">
    Messages
  </a></li>
   <li> <a data-toggle="tab" href="#newsms" class="list-group-item" style="border: 1px solid;border-radius: 0%;width: 150px;background-color:  #3a4f63;color: #fff" >New Single sms</a></li>
 <li><a data-toggle="tab" href="#newsms" style="border: 1px solid;border-radius: 0%;width: 150px;background-color:  #3a4f63;color: #fff">Group Sms</a></li>
       
       
       <li class="list-group" style="padding-bottom: 10px;padding-top: 10px;width: 150px;border-radius: 0%">
  <a  data-toggle="tab" href="#inbox"  style="background-color: #4b6c9e;color: #fff;border-radius: 0%">
    Inbox
  </a>
</li>
        <li class="list-group myList" style="padding-bottom: 10px;width: 150px">
  <a  data-toggle="tab" href="#sent" style="background-color: #4b6c9e;color: #fff;border-radius: 0%">
    Outbox
  </a>
</li>
       
  <li><a href="#" class="list-group-item " style="padding-bottom: 10px;border-radius: 0%;width: 150px;background-color: #4b6c9e;color: #fff">
    Contacts
  </a></li>
   <li> <a data-toggle="tab" href="#phone" class="list-group-item" style="border: 1px solid;border-radius: 0%;width: 150px;background-color:  #3a4f63;color: #fff" >Phonebook</a></li>
 <li><a data-toggle="tab" href="#group" style="margin-bottom: 10px;border: 1px solid;border-radius: 0%;width: 150px;background-color:  #3a4f63;color: #fff">Groups</a></li>
       

    
  </ul>
                                 
</div>