﻿<script>

    $(document).ready(function () {
        $('#ok_edited').click(function () {
            window.location = "OutgoingRefresh.cshtml";
        });
        $('form#edit_single').submit(function (e) {
            e.preventDefault();


            document.getElementById("datesetEdit").value = $('#date').val() + " " + $('#time').val();
            // alert($('#datesetEdit').val());
            //alert("It worked");
            //var x=document.getElementById("id");
            //  var info = new FormData();
            // info.append('username', $('#username').val());
            // info.append('password', $('#password').val());
            //info.append('user_email', $('#user_email').val());
            $.ajax({
                url: $("#edit_single").attr('action'),
                method: 'POST',

                data: $("#edit_single").serialize(),
                success: function (response) {
                    if (response != null) {

                        $('#queue_edited').modal("show");

                    }
                },
                error: function (response) {
                    alert("An error occurred"+response);
                }
            });
        });

    });


    function checkNumEdit() {

        var cnum = document.getElementById("toEdit").value;
        if (cnum.substr(0, 4) == "2547" && cnum.length == 12) {
            // alert("awesome");
            $('#numEditerrors').html("");
        } else {
            $('#numEditerrors').html("Invalid Contact format should be  2547XXXXXXXX 12 digits");
            // document.getElementById("errors).innerHTML= " Invalid Contact format should be  2547XXXXXXXX 12 digits";
            document.getElementById("toEdit").value = "";


        }
    }
</script>
<!--Edit a message-->
<div class="modal fade" id="editSmsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
          <div class="row">
              <div class="col-xs-10">
                  <h4 class="modal-title">EDIT Message</h4>
              </div>
        
          
          
    </div>
      </div>
          <form  action="singleSms.cshtml" method="post" id="edit_single">
      <div class="modal-body">

          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-8">
       
                  <!-- To number-->
            <br>
            <br>
            <div class="row">
               

                <div class="col-xs-2">
     <p> <b>To:</b>  </p>
                    </div>
                     <div class="col-xs-10">
    <input type="text" list="numbers" name="toEdit" id="toEdit"  class="form-control"  onblur="checkNumEdit()" placeholder="2547XX XXX XXX" required="required" >
   <datalist id="numbers" >
      
   </datalist>
                         <input type="hidden" id="smsId" name="smsId" value="">
                         <input type="hidden" id="name" name="name" value="">
                        <div style="color: #f00"id="numEditerrors"></div>
                      
                         <br> 
              
                    </div>
               
        </div>
           <br>
   <!-- Content message-->
            <div class="row">
                <div class="col-xs-2">
      <p><b> SMS: </b></p>
                    </div>

                <div class="col-xs-10">
      <textarea name="smsEdit" id="smsEdit" cols="40" rows="4" class="form-control" id="sms" maxLength="160"  placeholder="Enter Text sms" required="required" ></textarea>
                   
                    <div id="remainingEdit"></div>
                     </div>

                </div>
            <br>
            <div class="row">
                <div class="col-xs-2">
          
                    </div>
                <div class="col-xs-10">
                    <button  type="button" class="btn send" onclick="delivery()">Delivery On...</button>
                    <input id="deliver_edit"  name="deliver_edit" type="text" value="As Soon as Possible" disabled>
                <input type="hidden" name="datesetEdit" id="datesetEdit" value="">
                    </div>
               
                </div>
            
            <br>
            
              
                  </div>
            
              </div>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="editphone">Save changes</button>
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<!--Successuffully Edited-->

<div class="modal fade" id="queue_edited" style="margin-top: 100px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1569C7; color: #fff">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Edited SMS Queued</h4>
      </div>
         
      <div class="modal-body">
        
             <div class="row">
                <div class="col-xs-2"></div>
                 <div class="col-xs-8">
                    <p><b>Your message has been succefully Edited </b></p>
         </div>
          </div>
          
        
      </div>
      <div class="modal-footer" style="background-color:  #1569C7">
      
        <button  type="button" class="btn btn-default" data-dismiss="modal" id="ok_edited">OK</button>
      </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>















