﻿


<div class="modal fade" id="importviasms" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1569C7; color: #fff">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Select contacts from a file</h4>
      </div>
        
      <div class="modal-body">
        <div class="row" id="import_introsms">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-9">
        <h4>Select contacts from a file</h4>

            <p>Lulu Technologies SMS web application allows you to send an sms to
                contatcs via file import
                </p>
            
        
        </div>
            </div>
            
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-9">
            <h4>Downlaod a template </h4>


                <p>Allows you to enter the required details for the conatcts to be imported
                Its highly advised to use this template in any import to be performed. If not so, ensure the format corresponds with your
                intend file import in order to have a successful import</p>
                    <div class="row">
                    <div class="col-md-6">
                    
                    <a class="btn send" type="button" href="~/template/contact.csv">Download a csv file template </a>
                    </div>

                        <div class="col-md-6">
                    
                     <a class="btn send" type="button" href="~/template/contact.xlsx">Download an excel file template  </a>
                    </div>


                    
                    </div>
                    
                    
            </div>
        
        
        </div>

            <div class="row" >
            <div class="col-xs-2">
            </div>
            <div class="col-xs-9">
            <h4>Browse to a file</h4>

                  <div class="row">
                    <div class="col-md-6">
                    
                     <button id="browse_csvsms"   type="button" class="btn send" >Import from an  csv or txt File</button>
                    </div>

                        <div class="col-md-6">
                    
                      <button id="browse_excelsms" onclick="importExcel()" type="button" class="btn send" >Import from an  Excel File</button>
                    </div>


                    
                    </div>
              
                
                
            </div>
            </div>
        </div>
             <div class="row" id="file_importsms" style="display: none">
                  
               

                 <div class="col-xs-12">
                     <div class="row" >
                  <input type="hidden" id="uploadTextValuesms" name="uploadTextValuesms" value="" />
                         <div class="row">
                             <div class="col-xs-1"></div>
                              <div class="col-xs-8">
                             <h4>Choose .csv or .txt</h4>
                                  </div>
                         </div>
                         
                          <div class="row" > 
                              <div class="col-xs-1"></div>
                               <div class="col-xs-4">
                               
                               
                               <input id="uploadTextsms" placeholder="Choose .csv or .txt" type="file" accept=".txt,.csv" onchange="PreviewTextvia()" /> 
                        
        <input type="hidden" id="names_import" name="names_import" value="">
                         <input type="hidden" id="errCounter" name="errCounter" value="">

                             
       <textarea style="display: none" id="objsms"> </textarea>
                               
                               
                               
                               </div>
                              
                              </div>
                         <br>
                        <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-4">
            
                         
        </div>
                         </div>
                         </div>
            <br>

                    
                        <div class="table table-responsive" style="height: 200px; overflow: auto">
                        <table id="my_importsms" class="table table-hover table-bordered" >
        <thead>
            <tr>
                <th ><input type="checkbox" id="de_selectsms" onchange="deselectCsv()" checked></th>
                <th >Title</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Mobile number</th>
               
               
                
            </tr>
        </thead>
      
        <tbody id="import_body" >
           
   
          
            </tbody>
    </table>
                    
                    </div>
        
       </div>

          
        
                   </div>


                   
                


      <div id="excel_face1sms" style="display: none">

          <input type="file" name="xlfilesms" id="xlfsms" />
          <br> 
         
          <div id="outsms" class="outsms" style="display: none"> 
              
              </div>
          <div class="table table-responsive" style="height: 200px; overflow: auto">
           <table id="my_Eximportsms" class="table table-hover table-bordered"  >
        <thead>
            <tr>
                <th><input type="checkbox" id="excel_selectsms" onchange="deselectEx()"checked></th>
                <th >Title</th>
                <th>First Name</th>
               
                <th>Last Name</th>
                <th>Mobile number</th>
                <th>Email Address</th>
               
                
                
            </tr>
        </thead>
      
        
    </table>
          </div>
          
          <input type="hidden" id="excel_importDataSMS" name="excel_importData" value="">

              
          
          </div>

          
          </div>
           
      <div class="modal-footer" style="background-color:  #1569C7">
          <input id="check_import" type="hidden" value="">
          <script>
              $(function ()
              {
                  $('#my_Eximportsms').DataTable(
                  {
                       paging: false,
                       responsive: true
                       //"scrollX": true
            
                  });
                  $('#my_importsms').DataTable(
                  {
                       //"scrollX": true
                       paging:false,
                       responsive:true

                  });

                  $('#import_btnsms_next').click(function ()
                  {
                      $('#select_file').modal("show");
                  });
                  $('#browse_csvsms').click(function ()
                  {
                      $('#import_btnsms_next').hide();
                      $('#import_btnsms_back').show();
                      $('#import_btnsms').show();
                      $('#import_introsms').hide();
                      $('#file_importsms').toggle("slow");
                  });
                  $('#browse_excelsms').click(function ()
                  {
                     
                      $('#import_introsms').hide();
                      $('#import_btnsms_next').hide();
                      $('#import_btnsms_back').show();
                      $('#import_btnsms').show();
                      $('#excel_face1sms').toggle("slow");
                  });
                  $('#import_btnsms_back').click(function ()
                  {
                      $('#excel_face1sms').hide();
                      $('#file_importsms').hide();
                      $('#import_introsms').toggle("slow");
                      $('#import_btnsms_next').show();
                      $('#import_btnsms_back').hide();
                      $('#import_btnsms').hide();

                  });


              });
          </script>
      
          
      
          <button type="button" class="btn btn-default"    id="import_btnsms_next" >Next >></button>
          <button type="button" class="btn btn-default"    id="import_btnsms_back" style="display: none" ><< Back</button>
            <button type="button" class="btn btn-default"    id="import_btnsms" style="display: none">Import</button>
          <button type="button"  class="btn btn-default" data-dismiss="modal" id="cancel_Importsms">Cancel</button>
        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>




<!--A caution to select either a csv or excel file-->
<div class="modal fade" id="select_file" style="margin-top: 10px">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
        <h4 class="modal-title">Choose a File</h4>
      </div>
        
      <div class="modal-body">
       <div class="alert alert-danger">
         Click on the file you want to reference from, either <br> Import from CSV/.txt file  OR<br>
             Import from an excel file.
         
         </div>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
       
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>