﻿<script>


    function deselectCsv()
    {



        var check2 = document.getElementById("de_selectsms").checked;
        if (check2 == true)
        {
            $('.importsms').each(function ()
            {
                $(this).click();
            });
        } else
        {
            $('.importsms').each(function ()
            {
                $(this).removeAttr('checked');
            });
        }

    }
    function deselectEx()
    {
        var check2 = document.getElementById("excel_selectsms").checked;
        if (check2 == true)
        {
            $('.SmsViaEx').each(function ()
            {
                $(this).click();
            });
        } else
        {
            $('.SmsViaEx').each(function ()
            {
                $(this).removeAttr('checked');
            });
        }
    }




</script>




<script>

    function sms_group_checker()
    {
        var checker = document.getElementById('sms_group_check').checked;
        var t = $('#group_table').DataTable();
        if (checker == false)
        {


            $('.g_nums:checked').each(function ()
            {
                $(this).removeAttr('checked');
            });


            t
                    .clear()
                    .draw();

        } else
        {
            $('.g_nums').each(function ()
            {
                $(this).click();
            })
        }
    }


    $(document).ready(function ()
    {

        $('#group_numbers').click(function ()
        {
            var checker = document.getElementById('group_numbers').checked;
            if (checker == true)
            {


                $('.gnumsSms').each(function ()
                {
                    $(this).click();

                });
            } else
            {
                $('.gnumsSms:checked').each(function ()
                {
                    $(this).removeAttr('checked');
                });
            }

        });

        $('#sms_group').DataTable(
        {
            paging: false,
            responsive:true
            //"scrollX": true
        });
        $('#group_table').DataTable(
        {
            paging:false,
            responsive:true
         //   "scrollX": true
        });
        $('form#send_multiple').submit(function (e)
        {
            e.preventDefault();


            document.getElementById("multiple_schedule").value = $('#date').val() + " " + $('#time').val();
            //  alert($('#multiple_schedule').val());
            //alert("It worked");
            //var x=document.getElementById("id");
            //  var info = new FormData();
            // info.append('username', $('#username').val());
            // info.append('password', $('#password').val());
            //info.append('user_email', $('#user_email').val());
            $.ajax({
                url: $("#send_multiple").attr('action'),
                method: 'POST',

                data: $("#send_multiple").serialize(),
                success: function (response)
                {
                    if (response != null)
                    {
                        // alert("An error occurred" + response);
                        $('#queue_multipleSms').modal("show");

                    }
                },
                error: function (response)
                {
                    alert("An error occurred");
                }
            });
        });

    });
    function checkEdit(id, cid)
    {
        cid = 'csv' + cid;
        alert(id + cid);

        if (document.getElementById(id).value.length != 12 || document.getElementById(id).value.includes('2547') == false)
        {
            $('#import_editNumber').modal("show");
            document.getElementById(id).focus();
            document.getElementById(cid).disabled = true;
            $('#' + cid).removeAttr('checked');
        } else
        {
            document.getElementById(cid).value = document.getElementById(id).value;
            alert(document.getElementById(cid).value);
            document.getElementById(cid).disabled = false;
            $('#' + cid).click();
        }
    }

    function PreviewTextvia()
    {
        var oFReader = new FileReader();
        oFReader.readAsText(document.getElementById("uploadTextsms").files[0]);
        oFReader.onload = function (oFREvent)
        {
            document.getElementById("uploadTextValuesms").value = oFREvent.target.result;
            document.getElementById("objsms").value = oFREvent.target.result;

            var data2 = $('#objsms').val();
            var splitted2 = data2.split("\n");
            var row = "";
            var names = "";
            var num_of_errors = 0;
            var proceed = 0;
            var check_col = splitted2[0].split(",");
            for (var i = 0; i < check_col.length; i++)
            {
                if (i == 0)
                {

                    var title = document.createElement("LI");

                    var t_name = document.createTextNode(check_col[0]);
                    title.appendChild(t_name);
                    document.getElementById("col_list").appendChild(title);
                    if (check_col[0] != "Title")
                    {

                        title.setAttribute("class", "error");
                        proceed = 1;
                    }
                }
                if (i == 1)
                {

                    var fname = document.createElement("LI");

                    var f_name = document.createTextNode(check_col[1]);
                    fname.appendChild(f_name);
                    document.getElementById("col_list").appendChild(fname);
                    if (check_col[1] != "First Name")
                    {
                        fname.setAttribute("class", "error");
                        proceed = 1;

                    }
                }
                if (i == 2)
                {

                    var mname = document.createElement("LI");

                    var m_name = document.createTextNode(check_col[2]);
                    mname.appendChild(m_name);
                    document.getElementById("col_list").appendChild(mname);
                    if (check_col[2] != "Middle Name")
                    {
                        mname.setAttribute("class", "error");
                        proceed = 1;

                    }
                }
                if (i == 3)
                {
                    var lname = document.createElement("LI");

                    var l_name = document.createTextNode(check_col[3]);
                    lname.appendChild(l_name);
                    document.getElementById("col_list").appendChild(lname);

                    if (check_col[3] != "Last Name")
                    {
                        lname.setAttribute("class", "error");
                        proceed = 1;

                    }
                }
                if (i == 4)
                {
                    var num = document.createElement("LI");

                    var n_name = document.createTextNode(check_col[4]);
                    num.appendChild(n_name);
                    document.getElementById("col_list").appendChild(num);

                    if (check_col[4] != "Phone Number")
                    {
                        num.setAttribute("class", "error");
                        proceed = 1;

                    }
                }
                if (i == 5)
                {
                    var ename = document.createElement("LI");

                    var e_name = document.createTextNode(check_col[5]);
                    ename.appendChild(e_name);
                    document.getElementById("col_list").appendChild(ename);

                    if (check_col[5] != "Email Address")
                    {
                        ename.setAttribute("class", "error");
                        proceed = 1;

                    }
                }
            }
            if (proceed == 1)
            {
                $('#import_show').modal("hide");
                $('#column_missmatch').modal("show");
            } else
            {

                document.getElementById("check_import").value = "assigned";
                //alert($('#check_import').val());
                $('#check_importsms').val("assigned");
                var table2 = $("#my_importsms").DataTable();
                var id = 0;
                var cid = 1000000;
                for (var i = 1; i < splitted2.length; i++)
                {
                    //  alert("am pissed off");
                    //  var cells = splitted[i].split(",");
                    // row += '<tr><td>'+cells[0]+'</td> <td>'+cells[1]+'</td> <td></td> <td style="display: none"></td> <td style="display: none"></td> <td style="display: none"></td></tr>'



                    var cells = splitted2[i].split(",");
                    //  alert(cells.length);
                    if (cells.length == 1)
                    {
                        splitted2 = "";
                        break;
                    } else
                    {





                        /*   var rowCount = table2.rows.length;
                        var row = table2.insertRow(rowCount);
                        // alert(rowCount);
                        var cell1 = row.insertCell(0);
                        var checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.name = "gmemberSmsvia";
                        checkbox.id = "gmemberSmsvia";
                        checkbox.setAttribute('checked', true);
                        checkbox.setAttribute('class', 'importsms');
                        checkbox.value = cells[4];
                        cell1.appendChild(checkbox);*/

                        var title = cells[0];
                        /*var cellx = row.insertCell(1);
                        var title = document.createElement("label");
                        title.setAttribute('class', 'break');
                        title.appendChild(document.createTextNode(cells[0]));


                        cellx.appendChild(title);*/


                        //var cell2 = row.insertCell(2);
                        // var fname = document.createElement("label");

                        //fname.appendChild(document.createTextNode(cells[1]));
                        var fname = "";
                        if (cells[1] == "")
                        {
                            fname = '<input type="text" class="editName" value="" placeholder="First Name" >';
                            //fname.setAttribute('class', 'error');
                            //checkbox.removeAttribute("checked");
                            //  alert("FirstName shouldn't be empty");
                        } else
                        {
                            fname = '<label class="validNumbers>"' + cells[1] + '</label>';
                        }
                        // cell2.appendChild(fname);
                        var mname = cells[2];
                        /* var cell3 = row.insertCell(3);
                        var mname = document.createElement("label");
                        mname.setAttribute('class', 'break');
                        mname.appendChild(document.createTextNode(cells[2]));
                        cell3.appendChild(mname);*/
                        var lname = cells[3];
                        /* var cell4 = row.insertCell(4);
                        var lname = document.createElement("label");
                        lname.setAttribute('class', 'break');
                        lname.appendChild(document.createTextNode(cells[3]));
                        cell4.appendChild(lname);*/



                        // var cell5 = row.insertCell(5);
                        //var num = document.createElement("label");
                        var checkbox = '<input type="checkbox" id="gmemberSmsvia" name="gmemberSmsvia" class="importsms" value="' + cells[4] + '" checked>';
                        var num = "";
                        var checker2 = 0;
                        var csv_id = 'csv' + id;
                        var csv_cid = 'csv' + cid;
                        var init = "2547";
                        if (cells[4] == "" || cells[4].length != 12 || cells[4].includes(init) == false)
                        {
                            num = '<input type="number" maxlength="12" id=' + csv_id + ' onblur="checkEdit(this.id,' + cid + ')" class="editImportNumCsv" value=' + cells[4] + ' >';
                            checkbox = '<input type="checkbox"  class="importsms" value="' + cells[4] + '"  id=' + csv_cid + ' disabled>';
                            // checkbox.setAttribute("checked", false);
                            // checkbox.setAttribute("disabled", "disabled");
                            // num_of_errors += 1;
                            // document.getElementById("import_btnsms").setAttribute("type", "button");
                            $('#import_errorNumber').modal("show");
                            id += 1;
                            cid += 1;

                        } else
                        {
                            num = '<label >' + cells[4] + ' </label>';
                            checkbox = '<input type="checkbox"  class="importsms" value="' + cells[4] + '" checked>';
                        }


                        // num.appendChild(document.createTextNode(cells[4]));
                        // cell5.appendChild(num);


                        /* var cell6 = row.insertCell(6);
                        var email = document.createElement("label");
                        email.setAttribute('class', 'break');
                        email.appendChild(document.createTextNode(cells[5]));
                        cell6.appendChild(email);*/

                        /*   var cell7 = row.insertCell(6);
                        var addr = document.createElement("label");
                        addr.setAttribute('class', 'break');
                        addr.appendChild(document.createTextNode(cells[6]));
                        cell7.appendChild(addr);

                        var cell8 = row.insertCell(7);
                        var city = document.createElement("label");
                        city.setAttribute('class', 'break');
                        city.appendChild(document.createTextNode(cells[7]));
                        cell8.appendChild(city);
                        */
                        //names += cells[0];

                        table2.row.add([
                            checkbox,
                            title,
                            fname,
                            mname,
                            lname,
                            num]).draw(false);
                    }
                }

            }
            // document.getElementById("import_body").innerHTML = row;
            //document.getElementById("names_import").value = names;
            //alert($('#names_import').val());
            //var dataToImport = "";
            document.getElementById("errCounter").value = num_of_errors;
            // alert(num_of_errors);


        }
    }

    function displayMembers()
    {
        //alert(id);
        // $('#sms_members').val("");
        // document.getElementById("tableHold").innerHTML = '<div class="table table-responsive"> <table class="table table-bordered " id="group_table"> <theah> <tr><th>Name</th> <th>Mobile Number</th></tr> </thead><tbody id="rm_rows"> </tbody> </table></div>';
        var members = "";
        var merge = "";
        /* $('.' + id).each(function () {
        var values = $(this).val();
        members += values;
        });
        document.getElementById(id).value = members;
        */
        $('.g_nums:checked').each(function ()
        {
            var values = $(this).val();
            merge += values;
        });
        //alert($('#g_member').val());
        //members.replace(",", "");
        //alert($('#' + id).val());
        // alert(merge);
        var t = $('#group_table').DataTable();
        var member = merge.split(".");
        if (member.length == 1)
        {
            member = "";
            t
                    .clear()
                    .draw();
        }


        //  alert(member.length);
        for (var i = 0; i < member.length; i++)
        {
            //  var table = document.getElementById("group_table");
            var splitted = member[i].split(",");
            if (splitted.length <= 1)
            {
                break;
            } else
            {


                var checkbox = '<input type="checkbox" class="gnumsSms" id="gmemberSms" name="gmemberSms" value=' + splitted[1] + ' checked>'

                t.row.add([
                  checkbox,
               splitted[0],
               splitted[1]
            ]).draw(false);






                /*   var rowCount = table.rows.length;
                var row = table.insertRow(rowCount);

                var cell1 = row.insertCell(0);
                var checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.name = "gmemberSms";
                checkbox.id = "gmemberSms";
                checkbox.setAttribute('checked', true);
                checkbox.setAttribute('class', 'gnumsSms');
                checkbox.value = splitted[1];
                cell1.appendChild(checkbox);

                var cell2 = row.insertCell(1);
                var label = document.createElement("label");
                label.setAttribute('class', 'break');
                label.appendChild(document.createTextNode(splitted[0]));
                cell2.appendChild(label);

                //  var i = i - 1;
                /*   var checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.name = "gmemberSms";
                checkbox.id = "gmemberSms";
                checkbox.value = member[i];
                // checkbox.setAttribute('required', 'required');
                checkbox.setAttribute('checked', true);
                // alert(members[i]);
                checkbox.setAttribute('class', 'gnumsSms');
                var label = document.createElement("label");
                label.setAttribute('class', 'break');
                label.appendChild(document.createTextNode(member[i] + "                                         "));
                document.getElementById("sms_members").appendChild(checkbox);
                document.getElementById("sms_members").appendChild(label);

                // document.getElementById("myGroup").html("heheh");
                //  
                $("#myGroup").hide();*/
            }
        }

    }
    function selectall()
    {
        var check = document.getElementById("select_all").checked;
        if (check == true)
        {
            // alert("here we are");
            $('.nums2').each(function ()
            {
                $(this).click();

            });
        } else
        {
            // alert("am unchecked");
            $('.nums2').each(function ()
            {
                $(this).removeAttr('checked');

            });
        }

    }
    function checkType(id)
    {
        if ($('#' + id).val() == "groups")
        {

            // $('#group_type').modal("show");
            $('#from_phone').hide();
            $('#all_all').hide();
            $('#from_group').show();


        }
        if ($('#' + id).val() == "csv_file")
        {
            // $('#import_btn').hide();
            $('#importviasms').modal("show");
            $('#from_phone').hide();
            $('#from_group').hide();
            document.getElementById("checkersms").value = "sms";
        }
        if ($('#' + id).val() == "phonebook")
        {
            $('#from_group').hide();
            $('#from_phone').show();
            $('#all_all').show();

        }

    }
    $(document).ready(function ()
    {
        $('#cancel_Importsms').click(function ()
        {
            $('#excel_face1sms').hide();
            $('#file_importsms').hide();
            $('#import_introsms').show();
            $('#import_btnsms_next').show();
            $('#import_btnsms_back').hide();
            $('#import_btnsms').hide();
            document.getElementById("uploadTextsms").value = "";
            $('#source').val('phonebook');
            $('#from_group').hide();
            $('#from_phone').show();
            $('#all_all').show();
            // alert($('#source').val())
            var t = $("#my_importsms").DataTable();
            t
                        .clear()
                        .draw();

        });
        $('#num_select').DataTable({

            paging: false,
            responsive:true
            //"scrollX": true
        });
        // $("#my_phonebook_select").DataTable();
        $('#cancel_group').click(function ()
        {
            document.getElementById("source").value = "Phonebook";
            $('#source').innerHTML = "Phonebook";
            // alert($('#source').val());

        });
        $('#submit').click(function ()
        {
            document.getElementById("multiple_schedule").value = $('#date').val() + " " + $('#time').val();
            var check_recepients = document.getElementById("trick").value;
            if (check_recepients == "")
            {
                document.getElementById("submit").setAttribute('type', 'button');
                // alert("Select recipients")
                $('#sending_error').modal("show");
            } else
            {
                document.getElementById("submit").setAttribute('type', 'submit');

                // alert(final);


                var t = $("#my_importsms").DataTable();
                t
                        .clear()
                        .draw();

            }

        });

        var textInit = 160;
        $('#rem').html(textInit + 'Characters remaining');
        $('#smsGroup').keyup(function ()
        {
            var smsLen = $('#smsGroup').val().length;
            var rem = textInit - smsLen;

            $('#rem').html('<small>Characters Used: </small><b>' + smsLen + ' </b><small>Characters remaining: </small><b>' + rem + '</b>');
        });
    });
    $(function ()
    {

        $("#submit1").click(function ()
        {

        });
        $('.mcon').click(function ()
        {
            $("#sidem").removeClass("visible-md visible-lg visible-sm visible-xs");
            $('#slide').slideToggle("slow");
            $('#select_multiple').show();
            $('#sidem').hide();
        });
        $('#import_btnsms').click(function ()
        {
            var final = '';
            var contacts_selected2 = 0;

            $('.importsms:checked').each(function ()
            {
                var values = $(this).val();
                final += values;
                contacts_selected2 += 1;
                document.getElementById("trick").value = ".";
            });
            $('.SmsViaEx:checked').each(function ()
            {
                var values = $(this).val();
                final += values;
                contacts_selected2 += 1;
                document.getElementById("trick").value = ".";
            });
            if (final.length < 12)
            {
                $('#import_errorExcessErrors').modal("show");
            } else
            {


                $('#source').val('phonebook');
                $('#from_group').hide();
                $('#from_phone').show();
                $('#all_all').show();

                //  alert("Hi there" + selected);

                $('.nums2:checked').each(function ()
                {
                    var values = $(this).val();
                    final += values;
                    contacts_selected2 += 1;
                    document.getElementById("trick").value = ".";
                });
                //var final = '';
                $('.gnumsSms:checked').each(function ()
                {
                    var values = $(this).val();
                    final += values;
                    contacts_selected2 += 1;
                    document.getElementById("trick").value = ".";
                });
                //var final3 = '';

                // alert(final);
                //alert(final2);
                document.getElementById("listHolder").value = final;
                if (final.length % 12 != 0)
                {

                    var numerr = document.getElementById("errCounter").value;
                    //alert(numerr);
                    /*  if (numerr >= 4)
                    {
                    $('#import_errorNumber').modal("hide");
                    $('#import_errorExcessErrors').modal("show");
                    document.getElementById("uploadTextsms").value = "";
                    // document.getElementById( "import_body").innerHTML = "";
                    //$('#import_body').empty();
                    // $('#my_importsms tbody > tr').remove();
                    $('#my_importsms').find("tr:gt(0)").remove();
                    //PreviewTextvia();
                    }*/
                    $('#import_errorNumber').modal("show");
                } else
                {
                    document.getElementById("concts_selected").innerHTML = "Receipts selected <b>:" + contacts_selected2 + "</b>";
                    $('#importviasms').modal("hide");
                    $('#slide').slideToggle("slow");
                    $('#select_multiple').hide();
                    $('#sidem').slideToggle("slow");

                }

            }
        });
        $('#ok').click(function ()
        {

            //  alert("Hi there" + selected);
            var final2 = '';
            var contacts_selected2 = 0;
            $('.nums2:checked').each(function ()
            {
                var values = $(this).val();
                final2 += values;
                contacts_selected2 += 1;
                document.getElementById("trick").value = ".";
            });
            var final = '';
            $('.gnumsSms:checked').each(function ()
            {
                var values = $(this).val();
                final += values;
                contacts_selected2 += 1;
                document.getElementById("trick").value = ".";
            });
            var final3 = '';
            $('.gnumsSmsvia:checked').each(function ()
            {
                var values = $(this).val();
                final += values;
                contacts_selected2 += 1;
                document.getElementById("trick").value = ".";
            });
            // alert(final);
            //alert(final2);
            //document.getElementById("listHolder").value = final;

            document.getElementById("concts_selected").innerHTML = "Receipts selected <b>:" + contacts_selected2 + "</b>";
            $("#sidem").addClass("visible-md visible-lg");
            $('#slide').slideToggle("slow");
            $('#select_multiple').hide();
            // $('#sidem').slideToggle("slow");
            document.getElementById("checkersms").value = "testing";
        });
        $('#cancel').click(function ()
        {
            $("#sidem").addClass("visible-md visible-lg");
            $('#slide').slideToggle("slow");
            $('#select_multiple').hide();
            // $('#sidem').slideToggle("slow");
            document.getElementById("checkersms").value = "testing";
        });
    });

</script>