﻿@{
    var db=Database.Open("SmsLulu");
    var query= "SELECT * From phonebook";
    var content= db.Query(query);
    var group="SELECT * From groups order by group_id ASC";
    var groups= db.Query(group);

}
<script>






    function checkNewNumber()
    {

        var cnum = document.getElementById("newnumber").value;
        if (cnum.substr(0, 4) == "2547" && cnum.length == 12)
        {
            // alert("awesome");
            $('#newerrors').html("");
        } else
        {
            $('#newerrors').html("Invalid Contact format should be  2547XXXXXXXX 12 digits");
            // document.getElementById("errors).innerHTML= " Invalid Contact format should be  2547XXXXXXXX 12 digits";
            document.getElementById("newnumber").value = "";


        }
    }

    $(document).ready(function ()
    {


        $('.editContacts').click(function ()
        {
            var cont_id = $(this).closest('tr').children()[5].textContent;
            // $('#editId').val(cont_id);
            document.getElementById("editId").value = cont_id;
           // alert($('#editId').val());
            $('#ContactsModal').modal("show");
            $('#fname').val($(this).closest('tr').children()[0].textContent);
            $('#title').val($(this).closest('tr').children()[2].textContent);
            //  $('#em').val($(this).closest('tr').children()[2].textContent);
            $('#email').val($(this).closest('tr').children()[3].textContent);
            $('#lname').val($(this).closest('tr').children()[7].textContent);
            $('#homecity').val($(this).closest('tr').children()[8].textContent);
            $('#current_group').val($(this).closest('tr').children()[4].textContent);
            //  $('#homecity').val($(this).closest('tr').children()[4].textContent);
            $('#number').val($(this).closest('tr').children()[1].textContent);

            


            //alert(cont_id);
            // $('#id').val($('#cont_id').val());
            //  var gid = "";
            // $('.groupsAv').each(function () {
            //     var value = $(this).val();
            //    gid += value;

            //});
            var current_gid = $('#current_group').val();
            $('#default').html(current_gid);
            $('#default').val(current_gid);
            // alert(current_gid);
        });

        $('.newContact').click(function ()
        {
            // alert("Say cheesee");
            $('#SingleContact').modal("show");
        });
        $('.delete_cont').click(function ()
        {
            var cont_id = $(this).closest('tr').children()[5].textContent;
            //alert("deletion action");

            $('#deleteModal').modal("show");
            $('#contdel_id').val(cont_id);
            // alert($('#contdel_id').val());
            //alert($('#group_id').val());
            // alert($('#delsms').val());
        });

        $('#delete_cont').click(function ()
        {

            $('#deleteModal').modal("show");
            $('#contdel_id').val($('#id').val());
            //$('#')

        });
        $('#editPhone').click(function ()
        {
            //alert("Damn this");
            $('#current_group').val($('#EditgroupName').val());

            // $('#contdel_id').val($('#id').val());
        });
        $("#my_phonebook").DataTable(
        {
            
        });
        $('#newphone').click(function ()
        {
            document.getElementById("groupName2").value = $('#groupName').val();
            alert($('#groupName2').val());
        })
    });
</script>
          
<style>
 

 

   .xbtn{
        background-color: #0026ff;
    }
    .xbtn:hover{
        background-color: #1569C7;
        color: #fff;
    }
    .hideme{
        display: none;
    }
    .displayme {
        
	background-color: #f00;
    margin-left: 300px;
	
	* cursor: hand;
}
    .resize{
        padding-right: 100px;
        background-color: #000;
        padding-right: 200px;
    }
</style>
 <div class="row" >
           
    
              
              <div class="col-sm-6" style="color: #0026ff">
                 <a type="button" data-toggle="modal" class="btn newContact send" >Add new Contact </a> 
            <!--<a  type="button"  data-toggle="modal" class="btn newContact" style="background-color:#0026ff;border-radius:50%" ><img class="img-responsive" style="border-radius:50%;color:#4b6c9e ;width: 20px"  src="plus.png" alt="Add a contact" /></a>--> 
            </div>
           <div class="col-sm-6">
             <h4> <b>My Contacts</b></h4>
            </div>
          </div>
<div class="row">
    
    <div class="col-md-10 table table-responsive">
        
<table id="my_phonebook" class="table table-striped table-bordered" data-page-length='5' width="100%">
        <thead >
            <tr>
                <th >Name</th>
                <th>Mobile number</th>
                <th>Title </th>
                <th style="display: none">Email Address</th>
                <th style="display: none">Home City</th>
                 <th style="display: none">Home City</th>
                 <th style="display: none">Email Address</th>
                <th style="display: none">Home City</th>
                 <th style="display: none">Home City</th>
                <th>Edit</th>
                
            </tr>
        </thead>
        
        <tbody >
           
     @foreach(var row in content){
         var name ="";
                      <tr >
                          <td >@row.FirstName</td>
                          <td >@row.number</td>
                           <td >@row.Title</td>
                          <td style="display: none">@row.EmailAddress</td>
                          <td style="display: none" >
                             @foreach(var g in groups){
                                 
                                 if(g.group_id== @row.GroupID){
                                     name=g.GroupName;
                                 }
                             }
@name</td>
                          <td style="display: none" > @row.ID</td>
                          <td style="display: none">@row.MidName</td>
                          <td style="display: none">@row.LastName</td>
                          <td style="display: none">@row.HomeCity</td>
                          <td class="dropdown " >
                             
                            

                 <!--<form id="delpost"> -->
                 
              
              <a  class="editContacts edit" > Edit
              </a>
                
              
             <a  class="delete_cont edit"  id="" >Delete
              </a>
  

                 
                          
                          </td>
                          
                      </tr>
                  }

   
          
            </tbody>
    </table>
    
</div>
</div>

<!--Edit contact modal-->
<div class="modal fade" id="ContactsModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
          <div class="row">
              <div class="col-xs-10">
                  <h4 class="modal-title">EDIT Contact</h4>
              </div>
        
          
          
    </div>
      </div>
         <form action="editPhonebook.cshtml" method="post">
      <div class="modal-body">
          <div class="row">
          <div class="col-xs-6">
             
              <div class="row">
                  
                  <div class="col-xs-10">
                       
        <p> <input type="text" class="form-control" id="fname" name="fname" placeholder="Name e.g Faith" required/></p>
                     
                      </div>
                  </div>
             
              
              <div class="row">
                  
                  <div class="col-xs-10">
                      
                  
        <p> <input type="text" class="form-control" id="title" name="title"  placeholder="Title"/></p>
                      
                      </div>
                  </div>
              <div class="row">
                  
                  <div class="col-xs-10">
                       
        <p> <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name"/></p>
                      
                      </div>
                  </div>
               <div class="row">
                  
                  <div class="col-xs-10">
                       
        <p> <input type="text" class="form-control" id="homecity" name="homecity" placeholder="Home City" /></p>
                      
                      </div>
                  </div>
               <div class="row">
                  
                  <div class="col-xs-10">
                       
        <p> <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" /></p>
                      
                      </div>
                  </div>


       </div>
              <div class="col-xs-6">
              
              <div class="row">
                  
                  <div class="col-xs-10">
                      
        <p> <input type="text" class="form-control" id="number" name="number" onchange="checkNumber()" placeholder="Phone Number" required/>
            <input type="hidden" id="editId" name="editId" value="">
           
        </p>
                      <div style="color: #f00"id="numerrors"></div> 
                      </div>
                  </div>

                  <div class="row">
                  <div class="col-xs-3">Change group</div>
                  <div class="col-xs-8">
                      
              <select name="EditgroupName" id="EditgroupName" class="form-control">

              <option id="default" value=""></option>
                  @foreach(var g in groups){
                     // if()
                      <option class="groupsAv"value=@g.GroupName>@g.GroupName</option>
                  }
              </select>
                      <input type="hidden" name="current_group" id="current_group" value="">

                  </div>
                      </div>


              <div class="row">
                  <div class="col-xs-2"></div>
              <div class="col-xs-9" style="margin-top: 100px">
              <img src="Lulu.png" alt="Lulu logo" class="img-responsive"/>
              
              </div>
              </div>
              </div>
          </div>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="editPhone">Save changes</button>
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

