﻿@{
    var db=Database.Open("SmsLulu");
    var group= "SELECT * From groups";
    var groups= db.Query(group);
    var query= "SELECT * From phonebook";
    var content= db.Query(query);


}

@{
            var name="";
            var members="";

            if(IsPost){
                name= Request["gname"];
                members=Request["member"];
                var insert ="INSERT INTO groups(Gname,members_address) values (@0,@1)";
                var mydb= Database.Open("SmsLulu");
                mydb.Execute(insert,name,members);

                Response.Redirect("~/");
            }
        }
<style>

   /* .break:after{
        content: "\000A";
        white-space: pre;
    
    }*/
    .break{
       /*display: block;*/ 
       white-space: pre;
    }
</style>
<script >
    jQuery(document).ready(function ($) {
        $(".editGroup").click(function () {
            //window.document.location = $(this).data("href");
            $("#view_group").modal("show");
            var id = $(this).closest('tr').children()[0].textContent;
            document.getElementById("gid").value = id;
            //alert(id);

            $("#txtgname").val($(this).closest('tr').children()[1].textContent);
            // $("#txtlname").val($(this).closest('tr').children()[1].textContent);
            var list = $(this).closest('tr').children()[2].textContent;

            //alert(list);
            // $("#myGroup").hide();
            var members = list.split(",");
            //alert(members);
            for (var i = 0; i < members.length; i++) {
                var checkbox = document.createElement("input");
                checkbox.type = "checkbox";
                checkbox.name = "gmember";
                checkbox.id = "gmember";
                checkbox.value = members[i];
                // checkbox.setAttribute('required', 'required');
                checkbox.setAttribute('checked', true);
                //alert(members[i]);
                checkbox.setAttribute('class', 'gnums');
                var label = document.createElement("label");
                label.setAttribute('class', 'break');
                label.appendChild(document.createTextNode(members[i] + "                                        "));
                document.getElementById("myGroup").appendChild(checkbox);
                document.getElementById("myGroup").appendChild(label);

                // document.getElementById("myGroup").html("heheh");
                //  $("#myGroup").hide();
            }
        }
        );
        $("#my_groups").DataTable();
    });
    $(function () {

        $('#try').click(function () {
            var final = '';
            $('.nums:checked').each(function () {
                var values = $(this).val();
                final += values;
            });
            //alert(final);
        });
        $('#editg').click(function () {
            var check_id = document.getElementById("gid").value;
            // alert(check_id);
        });

        $('#try1').click(function () {
            var selected = document.getElementById("member").value;
            // alert("Hi there" + selected);
        });
        $('#delete_group').click(function () {
            $('#deleteModal').modal("show");
            $('#group_id').val($('#gid').val());
            // alert($('#contdel_id').val());
        });
    });


</script>

<div class="row">
<div class="col-xs-10">
<h4>My Groups</h4>
</div>
    <div class="col-xs-2">
             <a  type="button"  data-toggle="modal" class="btn newGroup" style="background-color:#4b6c9e;border-radius:50%" ><img class="img-responsive" style="border-radius:50%;color:#4b6c9e ;width: 20px"  src="plus.png" alt="Add a new Group" /></a>
            </div>

</div>
<br>
<br>
<div class="row">

     
    <div class="col-xs-10">

        <div style="overflow: hidden;height:auto;">
       
            <table id="my_groups" class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th>Group Name</th>
                <th>Members Mobile number</th>
                <th style="display: none"></th>
                <th style="display: none"></th>
                <th style="display: none"></th>
                <th style="display: none"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Group Name</th>
                <th>Mebers Mobile number</th>
                <th style="display: none"></th>
                <th style="display: none"></th>
                <th style="display: none"></th>
                <th style="display: none"></th>
            </tr>
        </tfoot>
        <tbody >
           
     @foreach(var row in groups){
                      <tr class="editGroup">
                          <td>@row.Gname</td>
                          <td  >@row.members_address</td>
                           <td style="display: none"></td>
                          <td style="display: none"></td>
                          <td style="display: none"></td>
                          <td style="display: none"></td>
                          
                      </tr>
                  }

   
          
            </tbody>
    </table>
      </div> 
            
    </div>
    
    
    </div> 

<div class="modal fade" id="view_group">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #4b6c9e">
        <button type="button" class="close" data-dismiss="modal" ><span >&times;</span></button>
          <div class="row">
          <div class="col-xs-10">
          
          <h4 class="modal-title">EDIT A Group</h4>
          
          </div>
          <div class="col-xs-2">
          <button class="btn btn-danger" id="delete_group"> Delete</button>
          </div>
          </div>
        
      </div>
         <form action="editGroup.cshtml" method="post">
      <div class="modal-body">
          <div class="row">
          <div class="col-xs-6" id="myGroup">
             
              <div class="row">
                  
                  <div class="col-xs-5">
                       <p>Group Name:</p>
                  </div>
                  <div class="col-xs-7">
        <p> <input type="text" class="form-control" id="txtgname" name="txtgname" required/></p>
                      <input type="hidden" id="gid" name="gid"/>
                      </div>
                  </div>
        <p> Members: <br></p>
     
                      
          </div>
              
              <div class="col-xs-6">
             Add a member from My Contacts
              <div id="contacts" style="overflow-y: scroll;height: 200px">
                <div class="table-responsive">
           <table class="table table-striped table-hover table-bordered">
                  <tr>
                         <th>Name</th> 
                          <th>Contact</th>
                      </tr>
                  @foreach(var row in content){
                      <tr>
                          <td><input type="checkbox" name="member" id="member"  class="nums"value=@row.number > @row.FirstName</td>
                          <td>@row.number</td>
                      
                      </tr>
                  }
    </table>
      </div>   
           
                </div>
              
              
              </div>
          
          </div>
        
      </div>
      <div class="modal-footer" style="background-color: #3a4f63">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="editg">Save changes</button>
      </div>
        </form> 
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 

 <div class="col-xs-5" style="margin-top: 20px">
    Make new Group

        <form action="Group.cshtml" method="post">
            <input name="gname" class="form-control"type="text" placeholder="Group name" required>
            Select Members:
            <div id="contacts" style="overflow-y: scroll;height: 200px">
                <div class="table-responsive">
           <table class="table table-striped table-hover table-bordered">
                  <tr>
                         <th>Name</th> 
                          <th>Contact</th>
                      </tr>
                  @foreach(var row in content){
                      <tr>
                          <td>
                             
                              <input type="checkbox" name="member" id="member"  class="nums"value=@row.number > @row.FirstName</td>
                          <td>@row.number</td>
                      
                      </tr>
                  }
    </table>
      </div>   
           
                </div>
                     
                        <br>

                      <input type="submit" class="btn form-control send" id="try" value="Ok">
                </form>
    
    </div>
    